Repository DataDog/dd-trace-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-php, @DataDog/profiling-php, @DataDog/asm-php, @Datadog/libdatadog-apm, @DataDog/apm-idm-php, @Datadog/asm-php

.github/CODEOWNERS:

# Default owners
* @DataDog/apm-php

# Profiling team
/profiling/ @DataDog/profiling-php

# ASM Team
/appsec/ @DataDog/asm-php

# APM libdatadog
/components-rs/ @Datadog/libdatadog-apm
compile_rust.sh @Datadog/libdatadog-apm

# APM IDM Team
/src/ @DataDog/apm-idm-php

# Release files
Cargo.lock @DataDog/apm-php @DataDog/profiling-php @Datadog/libdatadog-apm
package.xml @DataDog/apm-php @DataDog/profiling-php @Datadog/asm-php
VERSION @DataDog/apm-php @DataDog/profiling-php @Datadog/asm-php

Collect all headers on user events
  appsec/src/extension/tags.c
  appsec/tests/extension/headers_collection_01.phpt
  appsec/tests/extension/headers_collection_02.phpt
  appsec/tests/extension/headers_collection_03.phpt
  appsec/tests/extension/headers_collection_04.phpt
  appsec/tests/extension/headers_collection_05.phpt
  appsec/tests/extension/headers_collection_06.phpt
Owners: @DataDog/asm-php

Try out fork (simple copy paste)
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  src/DDTrace/Integrations/Swoole/SwooleIntegration.php
Owners: @DataDog/apm-php, @DataDog/apm-idm-php

fix: Instrument on __construct
  ext/ddtrace.c
  ext/integrations/integrations.c
  src/DDTrace/Integrations/Swoole/SwooleIntegration.php
Owners: @DataDog/apm-php, @DataDog/apm-idm-php

fix: typo
  tests/WebServer.php
Owners: @DataDog/apm-php

tests: Remove debug logs
  tests/Integrations/Laravel/V9_x/CommonScenariosTest.php
  tests/Integrations/Swoole/DistributedTracingTest.php
Owners: @DataDog/apm-php

fix: Replace /home/circleci/app by /home/circleci/datadog under CI env
  tests/Integrations/Laravel/Octane/CommonScenariosTest.php
Owners: @DataDog/apm-php

fix: Change "datadog.autoload_no_compile=true" to "datadog.autoload_no_compile=false" under CI env
  tests/Integrations/Laravel/Octane/CommonScenariosTest.php
Owners: @DataDog/apm-php

tests: Don't use $PWD in swoole.ini
  tests/Integrations/Laravel/Octane/CommonScenariosTest.php
  tests/Integrations/Laravel/Octane/swoole.ini
Owners: @DataDog/apm-php

tests: Use $PWD in swoole.ini
  tests/Integrations/Laravel/Octane/CommonScenariosTest.php
  tests/Integrations/Laravel/Octane/swoole.ini
Owners: @DataDog/apm-php

fix: Typo
  tests/Integrations/Laravel/Octane/CommonScenariosTest.php
Owners: @DataDog/apm-php

tests: Laravel 11.x is PHP 8.2+
  Makefile
Owners: @DataDog/apm-php

fix: Prevent segfault on uninitialized stack
  ext/coms.c
Owners: @DataDog/apm-php

tests: Don't run randomized tests on dd_handle_fork
  tests/internal-api-stress-test.php
Owners: @DataDog/apm-php

fix: Pass sources path as an env var to the PHP process
  Makefile
Owners: @DataDog/apm-php

style: Refactor
  ext/ddtrace.c
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/handlers_internal.h
  ext/handlers_pcntl.c
Owners: @DataDog/apm-php

fix: Compilation issues
  ext/ddtrace.c
  ext/ddtrace.h
  ext/handlers_internal.h
  ext/handlers_pcntl.c
Owners: @DataDog/apm-php

tests: Skip `DDTrace\Internal\handle_fork` in randomized tests
  tests/internal-api-stress-test.php
Owners: @DataDog/apm-php

Adjust headers sent
  appsec/src/extension/tags.c
  appsec/tests/extension/headers_collection_03.phpt
  appsec/tests/extension/headers_collection_04.phpt
  appsec/tests/extension/headers_collection_05.phpt
  appsec/tests/extension/headers_collection_07.phpt
  appsec/tests/extension/headers_collection_08.phpt
  appsec/tests/extension/headers_collection_09.phpt
  appsec/tests/extension/headers_collection_10.phpt
  appsec/tests/extension/headers_collection_11.phpt
Owners: @DataDog/asm-php

refactor
  src/DDTrace/Integrations/Swoole/SwooleIntegration.php
  tests/Integrations/Laravel/Octane/CommonScenariosTest.php
Owners: @DataDog/apm-idm-php, @DataDog/apm-php

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @DataDog/apm-php

Refactor implementation
  appsec/src/extension/tags.c
  appsec/tests/extension/headers_collection_12.phpt
  appsec/tests/extension/headers_collection_13.phpt
Owners: @DataDog/asm-php

Improve implementation
  appsec/src/extension/tags.c
Owners: @DataDog/asm-php

Add all asm headers on user events (#2647)
  appsec/src/extension/tags.c
  appsec/tests/extension/headers_collection_01.phpt
  appsec/tests/extension/headers_collection_02.phpt
  appsec/tests/extension/headers_collection_03.phpt
  appsec/tests/extension/headers_collection_04.phpt
  appsec/tests/extension/headers_collection_05.phpt
  appsec/tests/extension/headers_collection_06.phpt
  appsec/tests/extension/headers_collection_07.phpt
  appsec/tests/extension/headers_collection_08.phpt
  appsec/tests/extension/headers_collection_09.phpt
  appsec/tests/extension/headers_collection_10.phpt
  appsec/tests/extension/headers_collection_11.phpt
  appsec/tests/extension/headers_collection_12.phpt
  appsec/tests/extension/headers_collection_13.phpt
Owners: @DataDog/asm-php

fix: Pass sources path as an env var to the PHP process (#2650)
  Makefile
Owners: @DataDog/apm-php

Install cbindgen automatically instead of skipping headers generation
  Makefile
Owners: @DataDog/apm-php
