Repository DataDog/dd-trace-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-php, @DataDog/profiling-php, @DataDog/asm-php, @Datadog/libdatadog-apm, @Datadog/asm-php

More debug logs
  ext/comms_php.c
  ext/coms.c
Owners: @DataDog/apm-php

change debug lgos to use ddtrace_bgs_logf
  ext/coms.c
Owners: @DataDog/apm-php

fix compilation issues
  ext/coms.c
Owners: @DataDog/apm-php

refactor(profiling): stack walking cleanup (#2638)
  profiling/benches/stack_walking.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/profiling/stalk_walking.rs
Owners: @DataDog/profiling-php

refactor(profiling): shrink env/service/version and simplify (#2640)
  profiling/src/config.rs
  profiling/src/lib.rs
Owners: @DataDog/profiling-php

add `info.json` with start time (#2610)
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Owners: @DataDog/apm-php, @DataDog/profiling-php, @Datadog/libdatadog-apm

Add user event to Laravel 8
  .gitignore
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  tests/Common/WebFrameworkTestCase.php
  tests/Frameworks/Laravel/Version_8_x/app/Http/Controllers/LoginTestController.php
  tests/Frameworks/Laravel/Version_8_x/routes/web.php
  tests/Integrations/Laravel/V8_x/LoginEventsTest.php
Owners: @DataDog/apm-php

Fix issue on WebFrameworkTestCase
  tests/Common/WebFrameworkTestCase.php
Owners: @DataDog/apm-php

Fix login events test
  tests/Integrations/Laravel/V8_x/LoginEventsTest.php
Owners: @DataDog/apm-php

Keep web session optional
  tests/Common/WebFrameworkTestCase.php
  tests/Integrations/Laravel/V8_x/LoginEventsTest.php
Owners: @DataDog/apm-php

Add login tests to all laravel versions
  tests/Integrations/Laravel/V10_x/LoginEventsTest.php
  tests/Integrations/Laravel/V4/LoginEventsTest.php
  tests/Integrations/Laravel/V5_7/LoginEventsTest.php
  tests/Integrations/Laravel/V5_8/LoginEventsTest.php
  tests/Integrations/Laravel/V9_x/LoginEventsTest.php
Owners: @DataDog/apm-php

Add login events to Laravel 9x
  tests/Frameworks/Laravel/Version_9_x/.env
  tests/Frameworks/Laravel/Version_9_x/app/Http/Controllers/LoginTestController.php
  tests/Frameworks/Laravel/Version_9_x/composer.json
  tests/Frameworks/Laravel/Version_9_x/config/database.php
  tests/Frameworks/Laravel/Version_9_x/routes/web.php
  tests/Integrations/Laravel/V9_x/LoginEventsTest.php
Owners: @DataDog/apm-php

Fix cli laravel 9 tests
  tests/Integrations/CLI/Laravel/V9_X/CommonScenariosTest.php
Owners: @DataDog/apm-php

Update Laravel 9 snapshots
  tests/snapshots/tests.integrations.laravel.v9_x.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laravel.v9_x.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laravel.v9_x.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v9_x.common_scenarios_test.test_scenario_get_with_view.json
Owners: @DataDog/apm-php

Fix default string length for Laravel 9x
  tests/Frameworks/Laravel/Version_9_x/app/Providers/AppServiceProvider.php
Owners: @DataDog/apm-php

Fix Laravel 10 cli tests
  tests/Integrations/CLI/Laravel/V10_X/CommonScenariosTest.php
Owners: @DataDog/apm-php

Set default string length for Laravel 10
  tests/Frameworks/Laravel/Version_10_x/app/Providers/AppServiceProvider.php
Owners: @DataDog/apm-php

Set user on Laravel 4
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  tests/Frameworks/Laravel/Version_4_2/app/controllers/LoginTestController.php
  tests/Frameworks/Laravel/Version_4_2/app/routes.php
  tests/Integrations/Laravel/V4/LoginEventsTest.php
Owners: @DataDog/apm-php

Fix laravel 10 snapshots
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_view.json
Owners: @DataDog/apm-php

Add login events to Laravel 10
  tests/Frameworks/Laravel/Version_10_x/.env
  tests/Frameworks/Laravel/Version_10_x/.env.example
  tests/Frameworks/Laravel/Version_10_x/app/Http/Controllers/LoginTestController.php
  tests/Frameworks/Laravel/Version_10_x/composer.json
  tests/Frameworks/Laravel/Version_10_x/config/database.php
  tests/Frameworks/Laravel/Version_10_x/routes/web.php
  tests/Frameworks/Laravel/Version_9_x/.env.example
  tests/Integrations/Laravel/V10_x/LoginEventsTest.php
Owners: @DataDog/apm-php

Create loggin snapshots for Laravel 9
  tests/Integrations/Laravel/V9_x/LoginEventsTest.php
  tests/snapshots/tests.integrations.laravel.v9_x.login_events_test.test_logged_in_calls.json
  tests/snapshots/tests.integrations.laravel.v9_x.login_events_test.test_user_login_success_event.json
Owners: @DataDog/apm-php

Remove unnecesary line
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
Owners: @DataDog/apm-php

wip
  tests/Integrations/Laravel/V9_x/LoginEventsTest.php
Owners: @DataDog/apm-php

Set user on Laravel 5x
  tests/Frameworks/Laravel/Version_5_7/app/Http/Controllers/LoginTestController.php
  tests/Frameworks/Laravel/Version_5_7/routes/web.php
  tests/Frameworks/Laravel/Version_5_8/app/Http/Controllers/LoginTestController.php
  tests/Frameworks/Laravel/Version_5_8/routes/web.php
  tests/Integrations/Laravel/V5_7/LoginEventsTest.php
  tests/Integrations/Laravel/V5_8/LoginEventsTest.php
Owners: @DataDog/apm-php

Fix redirect issue
  tests/Frameworks/Laravel/Version_9_x/app/Http/Controllers/LoginTestController.php
Owners: @DataDog/apm-php

Update snapshots
  tests/snapshots/tests.integrations.laravel.v9_x.common_scenarios_test.test_scenario_get_with_exception.json
Owners: @DataDog/apm-php

Remove redirect
  tests/Frameworks/Laravel/Version_9_x/app/Http/Controllers/LoginTestController.php
Owners: @DataDog/apm-php

Update snapshots
  src/DDTrace/Integrations/Laravel/LaravelIntegration.php
  tests/Integrations/CLI/Laravel/V9_X/CommonScenariosTest.php
  tests/snapshots/tests.integrations.laravel.v9_x.login_events_test.test_logged_in_calls.json
  tests/snapshots/tests.integrations.laravel.v9_x.login_events_test.test_user_login_success_event.json
Owners: @DataDog/apm-php

Update laravel 10 snapshots
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_view.json
Owners: @DataDog/apm-php

Change testing approach
  tests/Integrations/Laravel/V9_x/LoginEventsTest.php
  tests/snapshots/tests.integrations.laravel.v9_x.login_events_test.test_logged_in_calls.json
  tests/snapshots/tests.integrations.laravel.v9_x.login_events_test.test_user_login_success_event.json
Owners: @DataDog/apm-php

wip
  tests/Common/WebFrameworkTestCase.php
  tests/Frameworks/Laravel/Version_10_x/app/Http/Controllers/LoginTestController.php
  tests/Integrations/Laravel/V10_x/LoginEventsTest.php
  tests/Integrations/Laravel/V9_x/LoginEventsTest.php
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_exception.json
Owners: @DataDog/apm-php

Configure database modes
  tests/Frameworks/Laravel/Version_9_x/config/database.php
Owners: @DataDog/apm-php

Align tests
  tests/Integrations/Laravel/V4/LoginEventsTest.php
  tests/Integrations/Laravel/V5_7/LoginEventsTest.php
  tests/Integrations/Laravel/V5_8/LoginEventsTest.php
  tests/Integrations/Laravel/V8_x/LoginEventsTest.php
Owners: @DataDog/apm-php

Generate missing snapshots
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_view.json
Owners: @DataDog/apm-php

Name route in laravel 10
  tests/Frameworks/Laravel/Version_10_x/routes/web.php
Owners: @DataDog/apm-php

Change Test Order and check for connection availability
  tests/Integrations/Laravel/V10_x/AuthLoginEventsTest.php
  tests/Integrations/Laravel/V4/AuthLoginEventsTest.php
  tests/Integrations/Laravel/V5_7/AuthLoginEventsTest.php
  tests/Integrations/Laravel/V5_8/AuthLoginEventsTest.php
  tests/Integrations/Laravel/V8_x/AuthLoginEventsTest.php
  tests/Integrations/Laravel/V9_x/AuthLoginEventsTest.php
  tests/WebServer.php
Owners: @DataDog/apm-php

Misc changes
  tests/Frameworks/Laravel/Version_10_x/routes/web.php
  tests/WebServer.php
Owners: @DataDog/apm-php

Amend conflicts
  .gitignore
Owners: @DataDog/apm-php

Trying things out
  ext/handlers_librdkafka.c
Owners: @DataDog/apm-php

tests: Update Laravel Snapshots
  tests/snapshots/tests.integrations.laravel.v11_x.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laravel.v11_x.common_scenarios_test.test_scenario_get_with_view.json
Owners: @DataDog/apm-php

.github/CODEOWNERS:

# Default owners
* @DataDog/apm-php

# Profiling team
/profiling/ @DataDog/profiling-php

# ASM Team
/appsec/ @DataDog/asm-php

# APM libdatadog
/components-rs/ @Datadog/libdatadog-apm
compile_rust.sh @Datadog/libdatadog-apm

# Release files
Cargo.lock @DataDog/apm-php @DataDog/profiling-php @Datadog/libdatadog-apm
package.xml @DataDog/apm-php @DataDog/profiling-php @Datadog/asm-php
VERSION @DataDog/apm-php @DataDog/profiling-php @Datadog/asm-php
