Repository DataDog/dd-trace-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-php, @DataDog/profiling-php, @DataDog/asm-php

.github/CODEOWNERS:

# Default owners
* @DataDog/apm-php
Cargo.lock @DataDog/apm-php @DataDog/profiling-php

# Profiling team
/profiling/ @DataDog/profiling-php

# ASM Team
/appsec/ @DataDog/asm-php

debug: Set open_basedir :shrug:
  tests/Frameworks/Laravel/Version_9_x/.env
  tests/Integrations/Laravel/V10_x/CommonScenariosTest.php
  tests/Integrations/Laravel/V9_x/CommonScenariosTest.php
Owners: @DataDog/apm-php

debug: Remove open_basedir inis
  tests/Integrations/Laravel/V10_x/CommonScenariosTest.php
  tests/Integrations/Laravel/V9_x/CommonScenariosTest.php
Owners: @DataDog/apm-php

debug: Change laravel .env
  tests/Frameworks/Laravel/Version_10_x/.env
  tests/Frameworks/Laravel/Version_8_x/.env
  tests/Frameworks/Laravel/Version_8_x/.env.example
Owners: @DataDog/apm-php

:white_check_mark: Add .env files to laravel test frameworks (9+)
  tests/Frameworks/Laravel/Version_10_x/.env
  tests/Frameworks/Laravel/Version_9_x/.env
Owners: @DataDog/apm-php

:mute: Remove debug logs
  tests/Integrations/Laravel/V8_x/AutomatedLoginEventsTest.php
  tests/Integrations/Laravel/V8_x/CommonScenariosTest.php
  tests/Integrations/Laravel/V9_x/CommonScenariosTest.php
  tests/Nginx/nginx-default.conf
Owners: @DataDog/apm-php

:white_check_mark: Add .env to Laravel 8 Tests
  tests/Frameworks/Laravel/Version_8_x/.env
Owners: @DataDog/apm-php

:wrench: Run the nette 24 test first
  Makefile
Owners: @DataDog/apm-php

:wrench: Change Laravel 8 .env DB info
  tests/Frameworks/Laravel/Version_8_x/.env.example
Owners: @DataDog/apm-php

:wrench: Change Laravel 8 .env DB info
  tests/Frameworks/Laravel/Version_8_x/.env
Owners: @DataDog/apm-php

Update libdatadog submodule
  Cargo.lock
  Cargo.toml
  components-rs/common.h
Owners: @DataDog/apm-php, @DataDog/profiling-php

:wrench: Reorder tests
  Makefile
  tests/Frameworks/Laravel/Version_8_x/.env
Owners: @DataDog/apm-php

:hammer: Wait for nginx's process to start/terminate
  Makefile
  tests/Nginx/NginxServer.php
  tests/WebServer.php
Owners: @DataDog/apm-php

Bump version to 0.92.0 (#2283)
  Cargo.lock
  Cargo.toml
  appsec/CMakeLists.txt
  components-rs/common.h
  ext/version.h
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Owners: @DataDog/apm-php, @DataDog/profiling-php, @DataDog/asm-php

:hammer: Use start instead of run
  tests/Nginx/NginxServer.php
  tests/Nginx/nginx-default.conf
Owners: @DataDog/apm-php

Increase nginx worker connections
  tests/Nginx/nginx-default.conf
Owners: @DataDog/apm-php

Try to prevent nginx memory issues
  tests/Nginx/nginx-default.conf
Owners: @DataDog/apm-php

Revert the test order changes
  Makefile
Owners: @DataDog/apm-php

Play with nginx configurations
  tests/Nginx/nginx-default.conf
Owners: @DataDog/apm-php

Play with nginx configurations
  tests/Nginx/nginx-default.conf
Owners: @DataDog/apm-php

Remove .user.ini files
  tests/Frameworks/Magento/Version_2_3/pub/.user.ini
  tests/Frameworks/Magento/Version_2_4/pub/.user.ini
Owners: @DataDog/apm-php

Increase the memory limit when nginx server is used
  tests/Nginx/NginxServer.php
Owners: @DataDog/apm-php

:green_heart: Add lstat_stat_variation15.phpt to 8.1 xfail list
  Makefile
  dockerfiles/ci/xfail_tests/8.1.list
Owners: @DataDog/apm-php

:recycle: Clean before ready for review
  Makefile
  tests/Frameworks/Magento/README.md
  tests/Nginx/NginxServer.php
  tests/Nginx/nginx-default.conf
  tests/WebServer.php
Owners: @DataDog/apm-php

Handle UnwindExit in sandbox error reporting
  ext/hook/uhook.c
  ext/request_hooks.c
  tests/ext/sandbox/die_in_sandbox.phpt
  zend_abstract_interface/exceptions/exceptions.c
Owners: @DataDog/apm-php

Get artifact from CircleCI if no URL is specified
  .gitlab-ci.yml
Owners: @DataDog/apm-php

:sparkles: Load symfony on commands
  ext/integrations/integrations.c
Owners: @DataDog/apm-php

:sparkles: Load symfony on Magento cli
  ext/integrations/integrations.c
Owners: @DataDog/apm-php

:sparkles: Trace CRON jobs and retrieve user id/email
  src/Integrations/Integrations/Magento/MagentoIntegration.php
Owners: @DataDog/apm-php

:camera_flash: Update Magento snapshots
  src/Integrations/Integrations/Magento/MagentoIntegration.php
  tests/snapshots/tests.integrations.magento.v2_3.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.magento.v2_3.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.magento.v2_3.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.magento.v2_3.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.magento.v2_4.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.magento.v2_4.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.magento.v2_4.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.magento.v2_4.common_scenarios_test.test_scenario_get_with_view.json
Owners: @DataDog/apm-php

Get get fpm php_values from pools
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/tests/ini.cc
Owners: @DataDog/apm-php

:recycle: Refactor code
  src/Integrations/Integrations/Magento/MagentoIntegration.php
  tests/Integrations/Magento/V2_4/CommonScenariosTest.php
Owners: @DataDog/apm-php

:adhesive_bandage: Replace null coalescings with elvis operators
  src/Integrations/Integrations/Magento/MagentoIntegration.php
  tests/Frameworks/Magento/Version_2_3/composer.json
  tests/Frameworks/Magento/Version_2_4/composer.json
  tests/snapshots/tests.integrations.magento.v2_3.common_scenarios_test.test_scenario_get_with_exception.json
Owners: @DataDog/apm-php

:pencil2: Replace /home/circleci/app by /home/circleci/datadog
  tests/snapshots/tests.integrations.magento.v2_3.common_scenarios_test.test_scenario_get_with_exception.json
Owners: @DataDog/apm-php

Get artifact from CircleCI if no URL is specified (#2289)
  .gitlab-ci.yml
Owners: @DataDog/apm-php

Get get fpm php_values from pools (#2277)
  zend_abstract_interface/config/config_ini.c
  zend_abstract_interface/config/tests/ini.cc
Owners: @DataDog/apm-php

Improve tracer state detection (#305)
  src/extension/ddappsec.c
  src/extension/ddtrace.c
  src/extension/ddtrace.h
  src/extension/user_tracking.c
Owners: @DataDog/apm-php

fix(profiling): do not leak module entry on purpose
  profiling/src/lib.rs
Owners: @DataDog/profiling-php

Release v0.14.1 (#306)
  CHANGELOG.md
  CMakeLists.txt
Owners: @DataDog/apm-php

:sparkles: Restrict fullActionName resource name to non-cacheable pages
  src/Integrations/Integrations/Magento/MagentoIntegration.php
Owners: @DataDog/apm-php

:camera_flash: Update snapshots
  src/Integrations/Integrations/Magento/MagentoIntegration.php
  tests/snapshots/tests.integrations.magento.v2_3.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.magento.v2_3.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.magento.v2_3.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.magento.v2_3.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.magento.v2_4.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.magento.v2_4.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.magento.v2_4.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.magento.v2_4.common_scenarios_test.test_scenario_get_with_view.json
Owners: @DataDog/apm-php
