Repository DataDog/dd-trace-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-php, @DataDog/profiling-php, @DataDog/asm-php

Point to Appsec 0.14.1
  Makefile
Owners: @DataDog/apm-php

:recycle: Refactor code
  src/Integrations/Integrations/Magento/MagentoIntegration.php
Owners: @DataDog/apm-php

Point to Appsec 0.14.1 (#2292)
  Makefile
Owners: @DataDog/apm-php

Handle UnwindExit in sandbox error reporting (#2288)
  ext/hook/uhook.c
  ext/request_hooks.c
  tests/ext/sandbox/die_in_sandbox.phpt
  zend_abstract_interface/exceptions/exceptions.c
Owners: @DataDog/apm-php

Add a safeguard nullcheck for the sidecar into telemetry reporting
  ext/telemetry.c
Owners: @DataDog/apm-php

fix allocation profiling shutdown with `USE_ZEND_ALLOC=0` crashing
  profiling/src/allocation.rs
  profiling/tests/phpt/allocation_jit_01.phpt
Owners: @DataDog/profiling-php

Add a safeguard nullcheck for the sidecar into telemetry reporting (#2293)
  ext/telemetry.c
Owners: @DataDog/apm-php

fix allocation profiling shutdown with `USE_ZEND_ALLOC=0` crashing (#2294)
  profiling/src/allocation.rs
  profiling/tests/phpt/allocation_jit_01.phpt
Owners: @DataDog/profiling-php

fix(profiling): do not leak module entry on purpose (#2291)
  profiling/src/lib.rs
Owners: @DataDog/profiling-php

Add release notes for 0.92.1
  Cargo.lock
  appsec/CMakeLists.txt
  ext/version.h
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Owners: @DataDog/apm-php, @DataDog/profiling-php, @DataDog/asm-php

:sparkles: Retrieve order information
  src/Integrations/Integrations/Magento/MagentoIntegration.php
Owners: @DataDog/apm-php

Add release notes for 0.92.1 (#2296)
  Cargo.lock
  appsec/CMakeLists.txt
  ext/version.h
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Owners: @DataDog/apm-php, @DataDog/profiling-php, @DataDog/asm-php

:sparkles: Add DD_TRACE_LARAVEL_QUEUE_SPAN_LINKS
  ext/configuration.h
  src/Integrations/Integrations/LaravelQueue/LaravelQueueIntegration.php
Owners: @DataDog/apm-php

Always update enabled status on RINIT (#307)
  src/extension/configuration.h
  src/extension/ddappsec.c
  tests/extension/bad_env_ini.phpt
Owners: @DataDog/apm-php

Log the serialized span links
  ext/serializer.c
Owners: @DataDog/apm-php

debug: throw on span link serialization error
  ext/serializer.c
Owners: @DataDog/apm-php

debug: Manually enter the options value
  ext/serializer.c
Owners: @DataDog/apm-php

debug: Remove warning
  ext/serializer.c
Owners: @DataDog/apm-php

debug: Log the trace id and span id during jsonSerialize
  ext/ddtrace.c
Owners: @DataDog/apm-php

add PHP 8.3 tests and builds
  .circleci/continue_config.yml
Owners: @DataDog/apm-php

Restore jobs
  .circleci/continue_config.yml
Owners: @DataDog/apm-php

Add buster PHP 8.3 images
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/buster/php-8.3/Dockerfile
Owners: @DataDog/apm-php

update
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/base.Dockerfile
  dockerfiles/ci/centos/7/docker-compose.yml
Owners: @DataDog/apm-php

Add centos7
  dockerfiles/ci/centos/7/docker-compose.yml
Owners: @DataDog/apm-php

remove centos7 php 8.3 as it does not build
  .circleci/continue_config.yml
Owners: @DataDog/apm-php

no xdebug on php 8.3 currently
  dockerfiles/ci/buster/build-extensions.sh
Owners: @DataDog/apm-php

alpine php 8.3
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
Owners: @DataDog/apm-php

test
  .circleci/continue_config.yml
  dockerfiles/ci/xfail_tests/8.3.list
  tooling/bin/generate-final-artifact.sh
Owners: @DataDog/apm-php

update to PHP 8.3 beta 2
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
Owners: @DataDog/apm-php

Revert "no xdebug on php 8.3 currently"
  dockerfiles/ci/buster/build-extensions.sh
Owners: @DataDog/apm-php

fix
  dockerfiles/ci/centos/7/php-8.3/configure.sh
Owners: @DataDog/apm-php

add CentOS7 PHP8.3 image
  dockerfiles/ci/centos/7/php-8.3/configure.sh
Owners: @DataDog/apm-php

update php 8.3 from beta 2 to rc2
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
Owners: @DataDog/apm-php

migrated xfail from PHP 8.2
  dockerfiles/ci/xfail_tests/8.3.list
Owners: @DataDog/apm-php

fix PHP 8.3 for CentOS
  dockerfiles/ci/centos/7/php-8.3/configure.sh
Owners: @DataDog/apm-php

fix
  dockerfiles/ci/centos/7/php-8.3/configure.sh
Owners: @DataDog/apm-php

update CircleCi image from beta1 to rc2
  .circleci/continue_config.yml
Owners: @DataDog/apm-php

update to PHP 8.3 RC3
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
Owners: @DataDog/apm-php

Prevent double unregister of internal hook functions in PHP 8.3
  ext/hook/uhook.c
Owners: @DataDog/apm-php

fix xdebug versions
  .circleci/continue_config.yml
Owners: @DataDog/apm-php

.github/CODEOWNERS:

# Default owners
* @DataDog/apm-php
Cargo.lock @DataDog/apm-php @DataDog/profiling-php

# Profiling team
/profiling/ @DataDog/profiling-php

# ASM Team
/appsec/ @DataDog/asm-php
