Repository DataDog/dd-trace-php, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-php, @DataDog/profiling-php, @DataDog/asm-php

.github/CODEOWNERS:

# Default owners
* @DataDog/apm-php
Cargo.lock @DataDog/apm-php @DataDog/profiling-php

# Profiling team
/profiling/ @DataDog/profiling-php

# ASM Team
/appsec/ @DataDog/asm-php

fix: Replace '/home/circleci/app' by '/home/circleci/datadog'
  tests/snapshots/tests.integrations.drupal.v10_1.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.drupal.v10_1.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.drupal.v8_9.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.drupal.v8_9.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.drupal.v9_5.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.drupal.v9_5.common_scenarios_test.test_scenario_get_with_exception.json
Owners: @DataDog/apm-php

test: Update snapshots
  tests/snapshots/tests.integrations.drupal.v8_9.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.drupal.v8_9.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.drupal.v8_9.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.drupal.v9_5.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.drupal.v9_5.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.drupal.v9_5.common_scenarios_test.test_scenario_get_with_view.json
Owners: @DataDog/apm-php

fix: Replace '/home/circleci/app' by '/home/circleci/datadog'
  tests/snapshots/tests.integrations.drupal.v8_9.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.drupal.v8_9.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.drupal.v9_5.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.drupal.v9_5.common_scenarios_test.test_scenario_get_with_exception.json
Owners: @DataDog/apm-php

debug: Check that the nginx process has started and is listening
  tests/Nginx/NginxServer.php
Owners: @DataDog/apm-php

debug: Add error log
  tests/Nginx/NginxServer.php
Owners: @DataDog/apm-php

debug: Remove error log
  tests/Nginx/NginxServer.php
Owners: @DataDog/apm-php

not beta anymore
  datadog-setup.php
Owners: @DataDog/apm-php

debug: Change nginx-default.conf
  tests/Nginx/nginx-default.conf
Owners: @DataDog/apm-php

debug: Enable DD_TRACE_DEBUG in Laravel 9+ tests
  tests/Integrations/Laravel/V9_x/CommonScenariosTest.php
Owners: @DataDog/apm-php

style: lint
  src/Integrations/Integrations/Magento/MagentoIntegration.php
Owners: @DataDog/apm-php

Propagate Runtime IDs and keep a valid pool in RC client (#301)
  src/extension/commands/client_init.c
  src/extension/ddtrace.c
  src/extension/ddtrace.h
  src/helper/client.cpp
  src/helper/client.hpp
  src/helper/remote_config/client.cpp
  src/helper/remote_config/client.hpp
  src/helper/remote_config/client_handler.cpp
  src/helper/remote_config/client_handler.hpp
  src/helper/runtime_id_pool.hpp
  src/helper/service.hpp
  src/helper/service_identifier.hpp
  src/helper/service_manager.cpp
  tests/extension/rinit_rshutdown_basic.phpt
  tests/extension/runtime_id_without_ddtrace.phpt
  tests/helper/client_test.cpp
  tests/helper/remote_config/client_handler_test.cpp
  tests/helper/remote_config/client_test.cpp
  tests/helper/remote_config/mocks.hpp
  tests/helper/runtime_id_pool_test.cpp
  tests/helper/service_manager_test.cpp
  tests/helper/service_test.cpp
Owners: @DataDog/apm-php

Upgrade ruleset to 1.8.0 (#302)
  .github/workflows/release/recommended.json
  third_party/CMakeLists.txt
Owners: @DataDog/apm-php

fix(profiling): use-after-free with Closure trampolines
  profiling/src/lib.rs
  profiling/tests/phpt/trampolines_02.phpt
Owners: @DataDog/profiling-php

Remove comment about the crash being unclear
  profiling/tests/phpt/trampolines_02.phpt
Owners: @DataDog/profiling-php

not beta anymore (#2278)
  datadog-setup.php
Owners: @DataDog/apm-php

Release 0.14.0 (#303)
  CHANGELOG.md
  CMakeLists.txt
Owners: @DataDog/apm-php

Update ASM to v0.14.0
  Makefile
Owners: @DataDog/apm-php

Update ASM to v0.14.0 (#2281)
  Makefile
Owners: @DataDog/apm-php

fix(profiling): use-after-free with Closure trampolines (#2280)
  profiling/src/lib.rs
  profiling/tests/phpt/trampolines_02.phpt
Owners: @DataDog/profiling-php

Rename the config option to DD_TRACE_AGENTLESS
  ext/configuration.h
  ext/sidecar.c
Owners: @DataDog/apm-php

Implement sidecar tracing
  .circleci/continue_config.yml
  Makefile
  components-rs/ddtrace.h
  components-rs/telemetry.rs
  dockerfiles/services/request-replayer/src/index.php
  ext/auto_flush.c
  ext/coms.c
  ext/configuration.h
  ext/ddshared.c
  ext/ddshared.h
  ext/ddtrace.c
  ext/handlers_pcntl.c
  ext/serializer.c
  ext/serializer.h
  ext/sidecar.c
  ext/sidecar.h
  ext/telemetry.c
  tests/ext/background-sender/agent_headers.phpt
  tests/ext/background-sender/agent_headers_container_id.phpt
  tests/ext/background-sender/agent_headers_container_id_empty.phpt
  tests/ext/background-sender/agent_headers_container_id_fargate.phpt
  tests/ext/background-sender/agent_headers_ignore_userland.phpt
  tests/ext/background-sender/agent_headers_unix_domain_socket.phpt
  tests/ext/background-sender/agent_sampling.phpt
  tests/ext/background-sender/background_sender_restores_capabilities.phpt
  tests/ext/background-sender/background_sender_survives_setuid.phpt
  tests/ext/includes/request_replayer.inc
Owners: @DataDog/apm-php

Fix duplicate runtime ID (#304)
  src/helper/remote_config/client.cpp
  src/helper/runtime_id_pool.hpp
  tests/helper/remote_config/client_test.cpp
  tests/helper/runtime_id_pool_test.cpp
Owners: @DataDog/apm-php

debug: Don't run magento tests
  Makefile
Owners: @DataDog/apm-php

Revert "debug: Don't run magento tests"
  Makefile
Owners: @DataDog/apm-php

debug: Remove non-necessary files from Magento 2.3 test framework
  tests/Frameworks/Magento/Version_2_3/.htaccess
  tests/Frameworks/Magento/Version_2_3/index.php
  tests/Frameworks/Magento/Version_2_3/phpserver/.htaccess
  tests/Frameworks/Magento/Version_2_3/phpserver/README.md
  tests/Frameworks/Magento/Version_2_3/phpserver/router.php
Owners: @DataDog/apm-php

Implement sidecar tracing (#2234)
  .circleci/continue_config.yml
  Makefile
  components-rs/ddtrace.h
  components-rs/telemetry.rs
  dockerfiles/services/request-replayer/src/index.php
  ext/auto_flush.c
  ext/coms.c
  ext/configuration.h
  ext/ddshared.c
  ext/ddshared.h
  ext/ddtrace.c
  ext/handlers_pcntl.c
  ext/serializer.c
  ext/serializer.h
  ext/sidecar.c
  ext/sidecar.h
  ext/telemetry.c
  tests/ext/background-sender/agent_headers.phpt
  tests/ext/background-sender/agent_headers_container_id.phpt
  tests/ext/background-sender/agent_headers_container_id_empty.phpt
  tests/ext/background-sender/agent_headers_container_id_fargate.phpt
  tests/ext/background-sender/agent_headers_ignore_userland.phpt
  tests/ext/background-sender/agent_headers_unix_domain_socket.phpt
  tests/ext/background-sender/agent_sampling.phpt
  tests/ext/background-sender/background_sender_restores_capabilities.phpt
  tests/ext/background-sender/background_sender_survives_setuid.phpt
  tests/ext/includes/request_replayer.inc
Owners: @DataDog/apm-php

Prepare release 0.92.0
  Cargo.lock
  appsec/CMakeLists.txt
  ext/version.h
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Owners: @DataDog/apm-php, @DataDog/profiling-php, @DataDog/asm-php

debug: Error log config content
  tests/Frameworks/Magento/Version_2_3/dev/.htaccess
  tests/Frameworks/Magento/Version_2_3/dev/tools/UpgradeScripts/pre_composer_update_2.3.php
  tests/Frameworks/Magento/Version_2_3/dev/tools/bootstrap.php
  tests/Frameworks/Magento/Version_2_3/dev/tools/dynamicReturnTypeMeta.json
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/assets/legacy-build/shim.js
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/configs/autoprefixer.json
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/configs/clean.js
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/configs/combo.js
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/configs/concat.json
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/configs/cssmin.json
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/configs/eslint.json
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/configs/exec.js
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/configs/imagemin.js
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/configs/jscs.json
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/configs/less.js
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/configs/mage-minify.json
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/configs/path.js
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/configs/replace.js
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/configs/styledocco.json
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/configs/themes.js
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/configs/usebanner.js
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/configs/watch.js
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/tasks/black-list-generator.js
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/tasks/clean-black-list.js
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/tasks/deploy.js
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/tasks/mage-minify.js
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/tasks/static.js
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/tools/collect-validation-files.js
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/tools/files-router.js
  tests/Frameworks/Magento/Version_2_3/dev/tools/grunt/tools/fs-tools.js
  tests/Frameworks/Magento/Version_2_3/dev/travis/before_install.sh
  tests/Frameworks/Magento/Version_2_3/dev/travis/before_script.sh
  tests/Frameworks/Magento/Version_2_3/dev/travis/config/apache_virtual_host
  tests/Frameworks/Magento/Version_2_3/dev/travis/config/www.conf
  tests/Nginx/NginxServer.php
Owners: @DataDog/apm-php

debug: Use dirname
  tests/WebServer.php
Owners: @DataDog/apm-php

Revert "debug: Use dirname"
  tests/WebServer.php
Owners: @DataDog/apm-php

debug: Use the root path instead of a tmp dir
  tests/Nginx/NginxServer.php
Owners: @DataDog/apm-php

debug: Change the web test order
  Makefile
  tests/Nginx/NginxServer.php
Owners: @DataDog/apm-php

debug: Change the web test order
  Makefile
  dockerfiles/ci/buster/php-master/install-php-master
  tests/Nginx/NginxServer.php
  tests/Nginx/nginx-default.conf
Owners: @DataDog/apm-php

Add base service from serializer instead
  ext/serializer.c
  src/DDTrace/Span.php
  src/api/Data/Span.php
Owners: @DataDog/apm-php

debug: Desperate attempts at this point
  tests/Integrations/Laravel/V8_x/AutomatedLoginEventsTest.php
Owners: @DataDog/apm-php

debug: Increase nginx error verbosity level to debug
  tests/Nginx/nginx-default.conf
Owners: @DataDog/apm-php

test: Add a .env to Laravel 8x test framework
  tests/Frameworks/Laravel/Version_8_x/.env
Owners: @DataDog/apm-php

test: Add a .env to Laravel 8x test framework
  tests/Frameworks/Laravel/Version_8_x/.env
Owners: @DataDog/apm-php

test: Change the Laravel `.env` files
  tests/Frameworks/Laravel/Version_10_x/.env
  tests/Frameworks/Laravel/Version_9_x/.env
Owners: @DataDog/apm-php

debug: Add debug logs to Laravel 8x
  tests/Integrations/Laravel/V8_x/CommonScenariosTest.php
Owners: @DataDog/apm-php
