Repository DataDog/dd-trace-php, pull requests merged in 2019-10, with the labels that each got.

#598 Add missing sandbox-regression test
  tests/ext/sandbox-regression/disable_tracing_disables_tracing.phpt
Labels: ci, dev/testing, packaging, 📦 Sandbox API

#602 Generate output on Eloquent test controllers (v4.2, v5.8)
  tests/Frameworks/Laravel/Version_4_2/app/controllers/EloquentTestController.php
  tests/Frameworks/Laravel/Version_5_8/app/Http/Controllers/EloquentTestController.php
Labels: ci, dev/testing

#569 WordPress 4.8 core tests
  .circleci/config.yml
  composer.json
  dockerfiles/frameworks/nginx_file_server/.gitignore
  dockerfiles/frameworks/src/Dockerfile
  dockerfiles/frameworks/src/wordpress/4.8.10.patch
  dockerfiles/frameworks/src/wordpress/run.sh
  dockerfiles/frameworks/src/wordpress/wp-tests-config.php
  dockerfiles/frameworks/wordpress.yml
Labels: ci, dev/testing

#570 WordPress 4.x integration
  bridge/dd_require_all.php
  composer.json
  src/DDTrace/Integrations/IntegrationsLoader.php
  src/DDTrace/Integrations/WordPress/V4/WordPressIntegrationLoader.php
  src/DDTrace/Integrations/WordPress/WordPressSandboxedIntegration.php
  tests/Common/SpanAssertion.php
  tests/Frameworks/WordPress/Version_4_8/wp-config.php
  tests/Frameworks/WordPress/Version_4_8/wp-content/plugins/datadog/datadog.php
  tests/Frameworks/WordPress/Version_4_8/wp-content/themes/twentyseventeen/functions.php
  tests/Frameworks/WordPress/Version_4_8/wp_2019-10-01.sql
  tests/Integrations/WordPress/V4_8/CommonScenariosTest.php
Labels: integrations, 📦 Sandbox API

#603 Add CodeIgniter Version check and URL normalization
  src/DDTrace/Integrations/CodeIgniter/V2/CodeIgniterSandboxedIntegration.php
Labels: integrations, 📦 Sandbox API

#606 Fix CodeIgniter v2 integration init hook
  bridge/functions.php
Labels: integrations, 🐛 bug, 📦 Sandbox API

#610 Prevent mysqli_connect span from closing twice
  src/DDTrace/Integrations/Mysqli/MysqliIntegration.php
Labels: integrations, 🐛 bug

#609 Fix ZF1 integration response after loading
  src/DDTrace/Integrations/ZendFramework/ZendFrameworkIntegration.php
Labels: integrations, 🐛 bug

#612 Bump version to 0.32.1
  package.xml
  src/DDTrace/Tracer.php
  src/DDTrace/version.php
  src/ext/version.h
Labels: ⏩ Version Bump

#585 Add possibility to assert a hierarchical graph of spans with parent child relations
  tests/Common/SpanAssertion.php
  tests/Common/SpanAssertionTrait.php
  tests/Common/SpanChecker.php
  tests/Integrations/Elasticsearch/V1/ElasticSearchIntegrationTest.php
  tests/Integrations/Elasticsearch/V1/ElasticSearchSandboxedIntegrationTest.php
Labels: dev/testing

#618 Bump version to 0.33.0
  composer.json
  package.xml
  src/DDTrace/Tracer.php
  src/DDTrace/version.php
  src/ext/version.h
Labels: ⏩ Version Bump

#620 Update linting for phpcs release
  src/DDTrace/Bootstrap.php
  src/DDTrace/Time.php
Labels: ci

#613 [Sandbox] Safe to string
  config.m4
  package.xml
  src/DDTrace/Integrations/CodeIgniter/V2/CodeIgniterSandboxedIntegration.php
  src/DDTrace/Integrations/ElasticSearch/V1/ElasticSearchSandboxedIntegration.php
  src/DDTrace/Integrations/Memcached/MemcachedSandboxedIntegration.php
  src/DDTrace/Integrations/PDO/PDOSandboxedIntegration.php
  src/DDTrace/Integrations/WordPress/V4/WordPressIntegrationLoader.php
  src/ext/compat_string.c
  src/ext/compat_string.h
  src/ext/compat_zend_string.c
  src/ext/compat_zend_string.h
  src/ext/ddtrace.c
  src/ext/dispatch.c
  src/ext/dispatch.h
  src/ext/dispatch_compat.h
  src/ext/dispatch_compat_php5.h
  src/ext/dispatch_setup.c
  src/ext/request_hooks.c
  src/ext/serializer.c
  tests/Integrations/PDO/PDOSandboxedTest.php
  tests/ext/dd_trace_serialize_msgpack_error_strict.phpt
  tests/ext/enable_throw_exception_if_overridable_doesnt_exist.phpt
  tests/ext/sandbox/dd_trace_function_complex.phpt
  tests/ext/sandbox/dd_trace_method.phpt
  tests/ext/sandbox/dd_trace_method_works_with_dd_trace.phpt
  tests/ext/sandbox/safe_to_string_metadata.phpt
  tests/ext/sandbox/safe_to_string_metadata_drops_invalid_keys.phpt
  tests/ext/sandbox/safe_to_string_properties.phpt
Labels: c-extension, 🍏 core, 🏆 enhancement, 📦 Sandbox API

#630 Update Yii 2 controller matching
  src/DDTrace/Integrations/Yii/V2/YiiIntegrationLoader.php
Labels: integrations, 🐛 bug

#614 Move dev images to new dd-trace-ci repo
  docker-compose.yml
Labels: dev/tooling

#629 Improve dd-doctor with and container tagging detector when open_basedir is set
  src/DDTrace/Util/ContainerInfo.php
  src/dd-doctor.php
Labels: dev/tooling

#633 Move dev images again to docker hub
  docker-compose.yml
Labels: dev/tooling
