Repository DataDog/dd-trace-php, pull requests merged in 2019-06, with the labels that each got.

#466 Fix API change with Symfony 4.x EventDispatcher
  CHANGELOG.md
  src/DDTrace/Integrations/Symfony/V4/SymfonyBundle.php
Labels: integrations, 🐛 bug

#449 Replace MT19937 with MT19937-64
  .circleci/config.yml
  .gitattributes
  CHANGELOG.md
  Makefile
  bridge/dd_require_all.php
  config.m4
  package.xml
  src/DDTrace/ID.php
  src/DDTrace/OpenTracer/SpanContext.php
  src/DDTrace/SpanContext.php
  src/ext/ddtrace.c
  src/ext/random.c
  src/ext/random.h
  src/ext/third-party/mt19937-64.c
  src/ext/third-party/mt19937-64.h
  tests/Unit/IDTest.php
  tests/Unit/Sampling/ConfigurableSamplerTest.php
  tests/Unit/SpanTest.php
  tests/ext/dd_trace_generate_id.phpt
Labels: c-extension, 🍏 core, 🏆 enhancement

#459 Group by hostname for curl and Guzzle requests
  CHANGELOG.md
  src/DDTrace/Configuration.php
  src/DDTrace/Http/Urls.php
  src/DDTrace/Integrations/Curl/CurlIntegration.php
  src/DDTrace/Integrations/Guzzle/GuzzleIntegration.php
  tests/Integrations/Curl/CurlIntegrationTest.php
  tests/Integrations/Guzzle/V5/GuzzleIntegrationTest.php
  tests/Integrations/Guzzle/V6/GuzzleIntegrationTest.php
Labels: integrations, 🏆 enhancement

#468 Release 0.27.0
  CHANGELOG.md
  package.xml
  src/DDTrace/Tracer.php
  src/ext/version.h
Labels: ⏩ Version Bump

#469 Fix Memory leak when garbage collecting empty span stacks
  CHANGELOG.md
  src/ext/coms.c
  src/ext/coms.h
  tests/ext/dd_trace_coms_test_parallel_writer_consistency.phpt
Labels: c-extension, 🍏 core, 🐛 bug

#473 Release 0.27.2
  CHANGELOG.md
  package.xml
  src/DDTrace/Tracer.php
  src/ext/version.h
Labels: ⏩ Version Bump

#477 Only override execute on compilation step
  CHANGELOG.md
  package.xml
  src/ext/dispatch_setup.c
  tests/ext/very_nested_functions.phpt
Labels: c-extension, 🍏 core, 🐛 bug

#478 Fix backtrace handler being run more than once, and inform about max stacktrace size reached
  CHANGELOG.md
  src/ext/backtrace.c
Labels: c-extension, 🐛 bug

#485 Bump version to 0.28.0
  CHANGELOG.md
  package.xml
  src/DDTrace/Tracer.php
  src/ext/version.h
Labels: ⏩ Version Bump

#487 Bump version to 0.28.1
  CHANGELOG.md
  package.xml
  src/DDTrace/Tracer.php
  src/ext/version.h
Labels: ⏩ Version Bump

#488 Request init hook version sync
  CHANGELOG.md
  Makefile
  RELEASING.md
  bridge/dd_wrap_autoloader.php
  src/DDTrace/Tracer.php
  src/DDTrace/Transport/Http.php
  src/DDTrace/version.php
  src/ext/ddtrace.c
  tests/AutoInstrumentation/AutoInstrumentationTest.php
  tests/AutoInstrumentation/scenarios/autoloader_die_on_not_found/index.php
  tests/AutoInstrumentation/scenarios/autoloader_includes_even_non_existing/index.php
  tests/AutoInstrumentation/scenarios/composer_without_ddtrace_dependency/index.php
  tests/AutoInstrumentation/scenarios/symfony_33_private_loader/index.php
  tests/Integration/Transport/HttpTest.php
Labels: 🍏 core
