Repository DataDog/dd-trace-php, pull requests merged in 2020-04, with the labels that each got.

#809 Sandbox the Guzzle integration
  bridge/dd_require_all.php
  src/DDTrace/Integrations/Guzzle/GuzzleSandboxedIntegration.php
  src/DDTrace/Integrations/IntegrationsLoader.php
  tests/Integrations/Guzzle/V5/GuzzleIntegrationTest.php
  tests/Integrations/Guzzle/V5/GuzzleSandboxedIntegrationTest.php
  tests/Integrations/Guzzle/V6/GuzzleIntegrationTest.php
  tests/Integrations/Guzzle/V6/GuzzleSandboxedIntegrationTest.php
Labels: 🏆 enhancement, 📦 Sandbox API

#798 Uri to resource name ON by default
  src/DDTrace/Configuration.php
  src/DDTrace/Span.php
  src/DDTrace/Tracer.php
  tests/AutoInstrumentation/AutoInstrumentationTest.php
  tests/Common/SpanChecker.php
  tests/Common/TracerTestTrait.php
  tests/Common/WebFrameworkTestCase.php
  tests/Integration/TracerTest.php
  tests/Integration/TracerTest_files/index.php
  tests/Integrations/CLI/EnvSerializer.php
  tests/Integrations/Custom/Autoloaded/BackgroundSenderLogTest.php
  tests/Integrations/Custom/Autoloaded/CircuitBreakerTest.php
  tests/Unit/ConfigurationTest.php
  tests/WebServer.php
Labels: 🏆 enhancement

#801 Implement service mapping
  src/DDTrace/Configuration.php
  src/DDTrace/Tracer.php
  tests/Integration/TracerTest.php
  tests/Integration/TracerTest_files/index.php
  tests/Unit/ConfigurationTest.php
Labels: 🏆 enhancement

#814 Sandbox curl (PHP 7)
  bridge/dd_require_all.php
  config.m4
  package.xml
  src/DDTrace/Configuration.php
  src/DDTrace/Integrations/Curl/CurlSandboxedIntegration.php
  src/DDTrace/Integrations/IntegrationsLoader.php
  src/ext/configuration.h
  src/ext/ddtrace.c
  src/ext/handlers_curl.h
  src/ext/php5/handlers_curl.c
  src/ext/php7/engine_api.c
  src/ext/php7/engine_api.h
  src/ext/php7/handlers_curl.c
  tests/Common/IntegrationTestCase.php
  tests/Common/TracerTestTrait.php
  tests/Integrations/Curl/CurlIntegrationTest.php
  tests/Integrations/Curl/CurlSandboxedTest.php
Labels: c-extension, integrations

#817 Fix curl issues and implement service mapping in one place
  .circleci/config.yml
  src/DDTrace/Integrations/Curl/CurlSandboxedIntegration.php
  src/DDTrace/Tracer.php
  src/ext/php7/handlers_curl.c
Labels: integrations, 🐛 bug

#816 Return that the sandboxed Guzzle integration loaded
  src/DDTrace/Integrations/Guzzle/GuzzleSandboxedIntegration.php
Labels: integrations, 🐛 bug

#819 Auto flushing (PHP 7)
  Makefile
  config.m4
  package.xml
  src/ext/auto_flush.h
  src/ext/configuration.h
  src/ext/php5/auto_flush.c
  src/ext/php7/auto_flush.c
  src/ext/span.c
  tests/ext/sandbox/auto_flush.phpt
  tests/ext/sandbox/fake_tracer.inc
Labels: c-extension, 🏆 enhancement, 📦 Sandbox API

#762 Always return unaltered VM dispatch (PHP 7)
  package.xml
  src/DDTrace/Integrations/ElasticSearch/V1/ElasticSearchSandboxedIntegration.php
  src/DDTrace/Integrations/Yii/V2/YiiIntegrationLoader.php
  src/ext/ddtrace.c
  src/ext/dispatch.c
  src/ext/dispatch.h
  src/ext/dispatch_setup.c
  src/ext/engine_hooks.c
  src/ext/php5/dispatch.c
  src/ext/php5/engine_hooks.c
  src/ext/php7/dispatch.c
  src/ext/php7/engine_hooks.c
  src/ext/span.c
  src/ext/span.h
  tests/ext/sandbox-prehook/variadic_args_internal.phpt
  tests/ext/sandbox/exception_does_not_close_span_that_catches.phpt
  tests/ext/sandbox/exception_from_user_error_handler_internal.phpt
  tests/ext/sandbox/exception_handled_for_correct_catch_block.phpt
  tests/ext/sandbox/exception_handled_in_correct_catch_frame.phpt
  tests/ext/sandbox/exception_handled_in_multicatch.phpt
  tests/ext/sandbox/exception_handled_with_finally.phpt
  tests/ext/sandbox/exceptions_are_passed_to_the_tracing_closure.phpt
  tests/ext/sandbox/generator.phpt
  tests/ext/sandbox/generator_not_supported.phpt
  tests/ext/sandbox/generator_with_exception.phpt
  tests/ext/sandbox/generator_with_return.phpt
  tests/ext/sandbox/generator_yield_from.phpt
  tests/ext/sandbox/return_by_ref.phpt
  tests/ext/sandbox/variadic_args_internal.phpt
  tests/ext/sandbox/vm_var_types_return.phpt
Labels: c-extension, 🍏 core, 🏆 enhancement, 📦 Sandbox API

#822 Overhead
  .dockerignore
  tests/overhead/.env.example
  tests/overhead/.gitignore
  tests/overhead/Laravel57/app/Http/Controllers/ExampleController.php
  tests/overhead/Laravel57/public/inithook.php
  tests/overhead/Laravel57/public/synthetic.php
  tests/overhead/Makefile
  tests/overhead/README.md
  tests/overhead/docker-compose.yml
  tests/overhead/dockerfiles/Dockerfile_72_fpm_Laravel57
  tests/overhead/dockerfiles/Dockerfile_73_fpm_base
  tests/overhead/dockerfiles/Dockerfile_73_fpm_head
  tests/overhead/dockerfiles/Dockerfile_73_fpm_master
  tests/overhead/dockerfiles/Dockerfile_73_fpm_notracer
  tests/overhead/dockerfiles/Dockerfile_73_fpm_release
  tests/overhead/dockerfiles/default.conf
  tests/overhead/dockerfiles/opcache.ini
  tests/overhead/dockerfiles/start_app.sh
  tests/overhead/dockerfiles/www.conf
  tests/overhead/dockerfiles/xdebug.ini
Labels: dev/tooling

#826 Auto flush with userland root span
  package.xml
  src/DDTrace/Bootstrap.php
  src/ext/ddtrace.c
  src/ext/php7/auto_flush.c
  src/ext/span.c
  tests/ext/sandbox/auto_flush_disables_tracing.phpt
  tests/ext/sandbox/auto_flush_userland_root_span.phpt
  tests/ext/sandbox/fake_tracer.inc
Labels: c-extension, 🍏 core, 📦 Sandbox API

#821 Cleanup finding dispatch and add cputime.d dtrace script
  src/ext/dispatch.c
  src/ext/dispatch.h
  src/ext/php5/engine_hooks.c
  src/ext/php7/engine_hooks.c
  tooling/bin/cputime.d
Labels: c-extension, dev/tooling, 🏆 enhancement

#815 Consolidate internal monotonic and realtime clocks
  config.m4
  package.xml
  src/ext/clocks.c
  src/ext/clocks.h
  src/ext/ddtrace.c
  src/ext/engine_hooks.c
  src/ext/span.c
  src/ext/span.h
Labels: c-extension, 🏆 enhancement

#825 Convert pid from long to string for internal spans
  src/ext/serializer.c
  tests/ext/sandbox-prehook/dd_trace_method.phpt
  tests/ext/sandbox-prehook/dd_trace_method_works_with_dd_trace.phpt
  tests/ext/sandbox/dd_trace_function_complex.phpt
  tests/ext/sandbox/dd_trace_function_internal.phpt
  tests/ext/sandbox/dd_trace_function_userland.phpt
  tests/ext/sandbox/dd_trace_method.phpt
  tests/ext/sandbox/dd_trace_method_works_with_dd_trace.phpt
  tests/ext/sandbox/errors_are_flagged_from_userland.phpt
Labels: c-extension, 🍏 core, 🐛 bug, 📦 Sandbox API

#829 Move some Configuration methods to functions written at the C level
  config.m4
  package.xml
  src/DDTrace/Bootstrap.php
  src/DDTrace/Configuration.php
  src/DDTrace/Integrations/CakePHP/CakePHPIntegration.php
  src/DDTrace/Integrations/CakePHP/V2/CakePHPIntegrationLoader.php
  src/DDTrace/Integrations/CodeIgniter/V2/CodeIgniterSandboxedIntegration.php
  src/DDTrace/Integrations/Curl/CurlSandboxedIntegration.php
  src/DDTrace/Integrations/Eloquent/EloquentSandboxedIntegration.php
  src/DDTrace/Integrations/Guzzle/GuzzleSandboxedIntegration.php
  src/DDTrace/Integrations/Integration.php
  src/DDTrace/Integrations/IntegrationsLoader.php
  src/DDTrace/Integrations/Laravel/LaravelSandboxedIntegration.php
  src/DDTrace/Integrations/Laravel/V4/LaravelProvider.php
  src/DDTrace/Integrations/Laravel/V5/LaravelIntegrationLoader.php
  src/DDTrace/Integrations/Lumen/V5/LumenIntegrationLoader.php
  src/DDTrace/Integrations/Slim/SlimIntegration.php
  src/DDTrace/Integrations/Symfony/SymfonySandboxedIntegration.php
  src/DDTrace/Integrations/Symfony/V3/SymfonyBundle.php
  src/DDTrace/Integrations/Symfony/V4/SymfonyBundle.php
  src/DDTrace/Integrations/WordPress/V4/WordPressIntegrationLoader.php
  src/DDTrace/Integrations/Yii/V2/YiiIntegrationLoader.php
  src/DDTrace/Integrations/ZendFramework/V1/Ddtrace.php
  src/DDTrace/Integrations/ZendFramework/ZendFrameworkSandboxedIntegration.php
  src/ext/ddtrace.c
  src/ext/ddtrace_string.c
  src/ext/ddtrace_string.h
  src/ext/request_hooks.c
  tests/Integrations/CLI/Custom/Autoloaded/CommonScenariosTest.php
  tests/Integrations/Lumen/V5_2/CommonScenariosTest.php
  tests/Integrations/Lumen/V5_6/CommonScenariosTest.php
  tests/Integrations/Lumen/V5_8/CommonScenariosTest.php
  tests/Unit/ConfigurationTest.php
  tests/Unit/Integrations/IntegrationsLoaderTest.php
Labels: c-extension, integrations, 🏆 enhancement

#831 Refactor curl handlers
  src/ext/ddtrace.c
  src/ext/handlers_curl.h
  src/ext/php5/handlers_curl.c
  src/ext/php7/handlers_curl.c
Labels: c-extension, 🏆 enhancement

#834 Disable automatic root-span creation
  src/DDTrace/Bootstrap.php
  src/DDTrace/Integrations/Curl/CurlSandboxedIntegration.php
  src/ext/configuration.h
  tests/Frameworks/Custom/Version_Autoloaded/no-root-span
  tests/Integrations/CLI/Custom/Autoloaded/NoRootSpanTest.php
Labels: c-extension, 🍏 core, 🏆 enhancement

#838 Bump version to 0.43.0
  dockerfiles/ci/xfail_tests/7.4.list
  package.xml
  src/DDTrace/Tracer.php
  src/DDTrace/version.php
  src/ext/version.h
Labels: ⏩ Version Bump

#842 Fix CI build after latest Buster container updates
  .circleci/config.yml
  dockerfiles/ci/xfail_tests/7.3.list
  dockerfiles/ci/xfail_tests/7.4.list
Labels: ci

#839 Add ddtrace_hash_find_ptr_lc and which stack-allocates small strings
  src/ext/arrays.c
  src/ext/arrays.h
  src/ext/dispatch.c
  src/ext/dispatch.h
  src/ext/dispatch_setup.c
  src/ext/php5/dispatch.c
  src/ext/php7/engine_hooks.c
  src/ext/serializer.c
Labels: c-extension, 🏆 enhancement

#835 Whitelist the cgi-fcgi SAPI
  .circleci/config.yml
  .gitignore
  src/ext/ddtrace.c
  tests/Common/WebFrameworkTestCase.php
  tests/Metrics/SigSegV/SigSegVTest.php
  tests/Nginx/NginxServer.php
  tests/Nginx/nginx-default.conf
  tests/WebServer.php
Labels: c-extension, ci, dev/testing, 🏆 enhancement

#848 Add ddtrace_getenv and use it ddtrace_config_* PHP functions
  src/ext/ddtrace.c
  src/ext/env_config.c
  src/ext/env_config.h
Labels: c-extension, 🐛 bug

#851 Fix curl integrations
  src/DDTrace/Integrations/Curl/CurlIntegration.php
  src/ext/php7/handlers_curl.c
  tests/Common/IntegrationTestCase.php
Labels: c-extension, integrations, 🐛 bug

#853 Bump version to 0.44.0
  package.xml
  src/DDTrace/Tracer.php
  src/DDTrace/version.php
  src/ext/version.h
Labels: release, ⏩ Version Bump

#859 Revert "Merge pull request #815 from DataDog/levi/ddtrace_moment"
  config.m4
  package.xml
  src/ext/clocks.c
  src/ext/clocks.h
  src/ext/ddtrace.c
  src/ext/engine_hooks.c
  src/ext/span.c
  src/ext/span.h
Labels: c-extension, packaging, 🐛 bug

#861 Release 0.44.1
  config.m4
  package.xml
  src/DDTrace/Tracer.php
  src/DDTrace/version.php
  src/ext/clocks.c
  src/ext/clocks.h
  src/ext/ddtrace.c
  src/ext/engine_hooks.c
  src/ext/span.c
  src/ext/span.h
  src/ext/version.h
Labels: release, ⏩ Version Bump

#854 Cache that a function is not traced
  .circleci/config.yml
  dockerfiles/ci/xfail_tests/7.4.list
  package.xml
  src/ext/ddtrace.c
  src/ext/dispatch.h
  src/ext/engine_hooks.h
  src/ext/php5/engine_hooks.c
  src/ext/php5/handlers_curl.c
  src/ext/php7/engine_hooks.c
  tests/Unit/TraceOverrideMethodTest.php
  tests/ext/closure_accessing_outside_variables.phpt
  tests/ext/closure_set_inside_object_methods.phpt
  tests/ext/dd_trace_can_skip_original_call.phpt
  tests/ext/dd_trace_forward_call_for_functions.phpt
  tests/ext/dd_trace_forward_call_with_inheritance.phpt
  tests/ext/reset_configured_overrides.phpt
  tests/ext/sandbox-regression/closure_accessing_outside_variables.phpt
  tests/ext/sandbox-regression/closure_set_inside_object_methods.phpt
  tests/ext/sandbox-regression/reset_configured_overrides.phpt
  tests/opcache/basic.phpt
  tests/opcache/file_cache.phpt
  tests/opcache/file_cache/.gitkeep
  tests/opcache/include.php
  tests/opcache/preload.phpt
  tests/opcache/protect_memory.phpt
Labels: c-extension, 🍏 core, 🏆 enhancement

#863 Fix build error on CentOS 7
  src/ext/ddtrace.c
Labels: dev/testing
