Repository DataDog/dd-trace-php, pull requests merged in 2020-08, with the labels that each got.

#948 Add support for phpredis 3.* extension on php 7
  .circleci/config.yml
  .gitignore
  bridge/_files.php
  clean-composer-scenario-locks.sh
  composer.json
  config.m4
  docker-compose.yml
  dockerfiles/frameworks/Makefile
  dockerfiles/frameworks/phpredis3.yml
  dockerfiles/services/Makefile
  dockerfiles/services/redis/Dockerfile
  dockerfiles/services/redis/app_start.sh
  dockerfiles/services/redis/conf_template.conf
  dockerfiles/services/redis/prepare-server.sh
  package.xml
  src/DDTrace/Integrations/IntegrationsLoader.php
  src/DDTrace/Integrations/PHPRedis/PHPRedisSandboxedIntegration.php
  src/api/Tag.php
  src/ext/integrations/integrations.c
  src/ext/integrations/integrations.h
  src/ext/php7/handlers_internal.c
  src/ext/php7/handlers_phpredis.c
  tests/Integrations/PHPRedis/PHPRedisSandboxedTest.php
  tests/Unit/Integrations/IntegrationsLoaderTest.php
Labels: integrations

#983 Add support for PHPRedis 5 extension on php 7
  .circleci/config.yml
  .phpcs.xml
  composer.json
  dockerfiles/frameworks/phpredis5.yml
  src/DDTrace/Integrations/PHPRedis/PHPRedisSandboxedIntegration.php
  src/ext/php7/handlers_phpredis.c
  tests/Integrations/PHPRedis/PHPRedis5SandboxedTest.php
Labels: integrations, 🏆 enhancement

#972 Fix ElasticSearch integration fallback to legacy
  src/DDTrace/Integrations/IntegrationsLoader.php
  tests/Unit/Integrations/IntegrationsLoaderTest.php
Labels: 🐛 bug

#985 Fix off-by-one error with longest config name for integrations
  src/ext/configuration.c
  src/ext/php5/startup_logging.c
  src/ext/php7/startup_logging.c
  tests/Unit/ConfigurationTest.php
Labels: 🐛 bug

#980 Package _generated.php with PECL
  .circleci/config.yml
  package.xml
  tooling/bin/pecl-build
Labels: ci, 🥒 PECL

#986 Move startup logs behind debug mode
  src/ext/php5/startup_logging.c
  src/ext/php7/startup_logging.c
  tests/Integrations/Custom/Autoloaded/StartupLoggingDiagnosticsDisabledTest.php
  tests/Integrations/Custom/Autoloaded/StartupLoggingDiagnosticsTest.php
  tests/Integrations/Custom/Autoloaded/StartupLoggingDisabledTest.php
  tests/Integrations/Custom/Autoloaded/StartupLoggingTest.php
  tests/ext/startup_logging.phpt
  tests/ext/startup_logging_disabled.phpt
Labels: 🐛 bug

#987 Split PHP 7's opcode handlers for previous case
  src/ext/php7/engine_hooks.c
Labels: Overhead, c-extension

#989 Cleanup PHP 7 curl handlers
  src/ext/php7/handlers_curl.c
Labels: c-extension, integrations

#990 Update dd_trace warning for being a no-op
  package.xml
  src/ext/ddtrace.c
  tests/ext/dd_trace_api_error.phpt
  tests/ext/dd_trace_forward_call_for_functions.phpt
  tests/ext/dd_trace_warning.phpt
  tests/ext/do_not_check_if_class_or_function_exists_by_default.phpt
  tests/ext/new_static.phpt
  tests/ext/reset_function_tracing.phpt
Labels: 🍏 core, 💔 breaking-change

#992 Refactor deferred loading and defer load PHPRedis
  bridge/_files.php
  package.xml
  src/DDTrace/Integrations/ElasticSearch/V1/loader.php
  src/DDTrace/Integrations/Integration.php
  src/DDTrace/Integrations/IntegrationsLoader.php
  src/DDTrace/Integrations/SandboxedIntegration.php
  src/ext/dispatch.h
  src/ext/engine_hooks.h
  src/ext/integrations/elasticsearch.h
  src/ext/integrations/integrations.c
  src/ext/integrations/integrations.h
  src/ext/integrations/test_integration.h
  src/ext/php5/engine_hooks.c
  src/ext/php5_4/engine_hooks.c
  src/ext/php7/engine_api.c
  src/ext/php7/engine_api.h
  src/ext/php7/engine_hooks.c
  src/ext/php7/handlers_curl.c
  src/ext/php7/handlers_phpredis.c
  tests/Unit/Integrations/IntegrationsLoaderTest.php
  tests/ext/sandbox/deferred_load_attempt_loading_once.phpt
  tests/ext/sandbox/deferred_load_using_function.phpt
  tests/ext/sandbox/deferred_loading_helper.php
Labels: Overhead, c-extension, integrations

#994 Defer loading of Predis integration
  src/DDTrace/Integrations/IntegrationsLoader.php
  src/ext/integrations/integrations.c
  tests/Unit/Integrations/IntegrationsLoaderTest.php
Labels: Overhead, c-extension, integrations

#997 Release 0.48.0
  package.xml
  src/DDTrace/Tracer.php
  src/DDTrace/version.php
  src/ext/version.h
  tooling/bin/pecl-build
Labels: release, ⏩ Version Bump

#998 Fix pecl-build for real releases
  tooling/bin/pecl-build
Labels: dev/tooling

#991 Enable the BGS by default on PHP 5.4
  .circleci/config.yml
  Makefile
  src/ext/configuration.h
  tests/ext/read_c_configuration.phpt
Labels: c-extension, ci, 💔 breaking-change

#996 Add .gdbinit files from released PHP versions
  .circleci/config.yml
  tooling/gdbinit-5.4
  tooling/gdbinit-5.6
  tooling/gdbinit-7.0
  tooling/gdbinit-7.1
  tooling/gdbinit-7.2
  tooling/gdbinit-7.3
  tooling/gdbinit-7.4
Labels: c-extension, dev/tooling

#1000 Block Zend signals from background sender thread
  .circleci/valgrind/valgrind_musl_suppressions.lib
  Makefile
  package.xml
  src/ext/coms.c
  tests/ext/request_timeout_01.phpt
Labels: c-extension, 🐛 bug

#1001 Fix out-of-sync issue if span stack is closed while a closure is running
  package.xml
  src/ext/php5/engine_hooks.c
  src/ext/php5_4/engine_hooks.c
  tests/ext/sandbox/spans_out_of_sync_01.phpt
  tests/ext/sandbox/spans_out_of_sync_02.phpt
  tests/ext/sandbox/spans_out_of_sync_03_php5.phpt
  tests/ext/sandbox/spans_out_of_sync_03_php7.phpt
  tests/ext/sandbox/spans_out_of_sync_04_php5.phpt
  tests/ext/sandbox/spans_out_of_sync_04_php7.phpt
  tests/ext/sandbox/spans_out_of_sync_05.phpt
  tests/ext/sandbox/spans_out_of_sync_06.phpt
Labels: c-extension, 🐛 bug

#1002 Add 404 tests to Symfony integration
  src/DDTrace/Integrations/Symfony/SymfonySandboxedIntegration.php
  tests/Frameworks/TestScenarios.php
  tests/Frameworks/Util/CommonScenariosDataProviderTrait.php
  tests/Integrations/Symfony/V3_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_3/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_4/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_4/CommonScenariosSandboxedTest.php
Labels: integrations, 🐛 bug

#1004 Release 0.48.1
  .circleci/valgrind/valgrind_musl_suppressions.lib
  Makefile
  package.xml
  src/DDTrace/Integrations/Symfony/SymfonySandboxedIntegration.php
  src/DDTrace/Tracer.php
  src/DDTrace/version.php
  src/ext/coms.c
  src/ext/php5/engine_hooks.c
  src/ext/php5_4/engine_hooks.c
  src/ext/version.h
  tests/Frameworks/TestScenarios.php
  tests/Frameworks/Util/CommonScenariosDataProviderTrait.php
  tests/Integrations/Symfony/V3_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_3/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_4/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_4/CommonScenariosSandboxedTest.php
  tests/ext/request_timeout_01.phpt
  tests/ext/sandbox/spans_out_of_sync_01.phpt
  tests/ext/sandbox/spans_out_of_sync_02.phpt
  tests/ext/sandbox/spans_out_of_sync_03_php5.phpt
  tests/ext/sandbox/spans_out_of_sync_03_php7.phpt
  tests/ext/sandbox/spans_out_of_sync_04_php5.phpt
  tests/ext/sandbox/spans_out_of_sync_04_php7.phpt
  tests/ext/sandbox/spans_out_of_sync_05.phpt
  tests/ext/sandbox/spans_out_of_sync_06.phpt
Labels: release, ⏩ Version Bump
