Repository DataDog/dd-trace-php, pull requests merged in 2021-01, with the labels that each got.

#1123 Refactor PHP 7 curl distributed tracing
  bridge/dd_init.php
  config.m4
  ext/php7/ddtrace.c
  ext/php7/ddtrace.h
  ext/php7/distributed_tracing.c
  ext/php7/distributed_tracing.h
  ext/php7/engine_api.c
  ext/php7/engine_api.h
  ext/php7/handlers_curl.c
  ext/php7/handlers_internal.c
  ext/php7/handlers_internal.h
  package.xml
  tests/Integrations/Curl/CurlIntegrationTest.php
  tests/ext/sandbox/distributed_tracing_curl.phpt
  tests/ext/sandbox/distributed_tracing_curl_copy_handle.phpt
  tests/ext/sandbox/distributed_tracing_curl_existing_headers_001.phpt
  tests/ext/sandbox/distributed_tracing_curl_existing_headers_002.phpt
  tests/ext/sandbox/distributed_tracing_curl_missing_fn.phpt
  tests/ext/sandbox/distributed_tracing_curl_sandboxed.phpt
Labels: integrations

#1129 Real package verification on nginx, cli, apache
  .circleci/config.yml
  dockerfiles/verify_packages/Makefile
  dockerfiles/verify_packages/alpine/install.sh
  dockerfiles/verify_packages/centos/install.sh
  dockerfiles/verify_packages/debian/install.sh
  dockerfiles/verify_packages/debian_jessie/Dockerfile
  dockerfiles/verify_packages/debian_stretch/Dockerfile
  dockerfiles/verify_packages/docker-compose.yml
  dockerfiles/verify_packages/index.php
  dockerfiles/verify_packages/nginx.conf
  dockerfiles/verify_packages/verify.sh
  dockerfiles/verify_packages/verify_deb.sh
  dockerfiles/verify_packages/verify_rpm.sh
Labels: dev/testing

#1136 Slim 4 integration
  Makefile
  src/DDTrace/Integrations/Slim/SlimIntegration.php
  tests/Frameworks/README.md
  tests/Frameworks/Slim/Version_4/.coveralls.yml
  tests/Frameworks/Slim/Version_4/.gitignore
  tests/Frameworks/Slim/Version_4/.travis.yml
  tests/Frameworks/Slim/Version_4/CONTRIBUTING.md
  tests/Frameworks/Slim/Version_4/README.md
  tests/Frameworks/Slim/Version_4/app/dependencies.php
  tests/Frameworks/Slim/Version_4/app/middleware.php
  tests/Frameworks/Slim/Version_4/app/repositories.php
  tests/Frameworks/Slim/Version_4/app/routes.php
  tests/Frameworks/Slim/Version_4/app/settings.php
  tests/Frameworks/Slim/Version_4/composer.json
  tests/Frameworks/Slim/Version_4/docker-compose.yml
  tests/Frameworks/Slim/Version_4/logs/README.md
  tests/Frameworks/Slim/Version_4/phpunit.xml
  tests/Frameworks/Slim/Version_4/public/.htaccess
  tests/Frameworks/Slim/Version_4/public/index.php
  tests/Frameworks/Slim/Version_4/src/Application/Actions/Action.php
  tests/Frameworks/Slim/Version_4/src/Application/Actions/ActionError.php
  tests/Frameworks/Slim/Version_4/src/Application/Actions/ActionPayload.php
  tests/Frameworks/Slim/Version_4/src/Application/Actions/User/ListUsersAction.php
  tests/Frameworks/Slim/Version_4/src/Application/Actions/User/UserAction.php
  tests/Frameworks/Slim/Version_4/src/Application/Actions/User/ViewUserAction.php
  tests/Frameworks/Slim/Version_4/src/Application/Handlers/HttpErrorHandler.php
  tests/Frameworks/Slim/Version_4/src/Application/Handlers/ShutdownHandler.php
  tests/Frameworks/Slim/Version_4/src/Application/Middleware/SessionMiddleware.php
  tests/Frameworks/Slim/Version_4/src/Application/ResponseEmitter/ResponseEmitter.php
  tests/Frameworks/Slim/Version_4/src/Domain/DomainException/DomainException.php
  tests/Frameworks/Slim/Version_4/src/Domain/DomainException/DomainRecordNotFoundException.php
  tests/Frameworks/Slim/Version_4/src/Domain/User/User.php
  tests/Frameworks/Slim/Version_4/src/Domain/User/UserNotFoundException.php
  tests/Frameworks/Slim/Version_4/src/Domain/User/UserRepository.php
  tests/Frameworks/Slim/Version_4/src/Infrastructure/Persistence/User/InMemoryUserRepository.php
  tests/Frameworks/Slim/Version_4/templates/simple_view.phtml
  tests/Frameworks/Slim/Version_4/tests/Application/Actions/ActionTest.php
  tests/Frameworks/Slim/Version_4/tests/Application/Actions/User/ListUserActionTest.php
  tests/Frameworks/Slim/Version_4/tests/Application/Actions/User/ViewUserActionTest.php
  tests/Frameworks/Slim/Version_4/tests/Domain/User/UserTest.php
  tests/Frameworks/Slim/Version_4/tests/Infrastructure/Persistence/User/InMemoryUserRepositoryTest.php
  tests/Frameworks/Slim/Version_4/tests/TestCase.php
  tests/Frameworks/Slim/Version_4/tests/bootstrap.php
  tests/Frameworks/Slim/Version_4/var/cache/.gitignore
  tests/Integrations/Slim/V4/CommonScenariosTest.php
  tests/phpunit.xml
Labels: feature-request, integrations, 🏆 enhancement
