Repository DataDog/dd-trace-php, pull requests merged in 2022-08, with the labels that each got.

#1663 Build and package datadog-profiling in CI
  .circleci/config.yml
  datadog-setup.php
  dockerfiles/compile_extension/Dockerfile_alpine
  dockerfiles/compile_extension/alpine.Dockerfile
  dockerfiles/compile_extension/build-dd-trace-php
  dockerfiles/compile_extension/docker-compose.yml
  dockerfiles/compile_extension/install-php
  dockerfiles/verify_packages/installer/test_install_uninstall_install_tracer_profiling.sh
  dockerfiles/verify_packages/installer/test_profiler_install_enabled.sh
  dockerfiles/verify_packages/installer/test_uninstall.sh
  dockerfiles/verify_packages/installer/utils.sh
  profiling/Cargo.toml
  profiling/LICENSE
  profiling/LICENSE-3rdparty.csv
  profiling/NOTICE
  profiling/datadog-profiling-install.sh
  profiling/src/bindings/mod.rs
  profiling/src/lib.rs
  tests/ext/profiling/runtime_id_02.phpt
  tooling/bin/generate-final-artifact.sh
Labels: dev/testing, profiling

#1679 [Profiling] Add fake frame when truncating stacks
  profiling/src/profiling.rs
Labels: 🏆 enhancement, profiling

#1682 Fix profiling config in randomized tests
  tests/randomized/config/inis.php
Labels: dev/testing, profiling

#1678 Allow Symfony EventDispatcher::dispatch hooks to recurse
  src/Integrations/Integrations/Symfony/SymfonyIntegration.php
  tests/Common/SpanChecker.php
  tests/Integrations/Symfony/V3_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_3/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_4/AutofinishedTracesSymfony34Test.php
  tests/Integrations/Symfony/V3_4/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_4/TemplateEnginesTest.php
  tests/Integrations/Symfony/V3_4/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_2/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_4/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_4/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V5_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_1/CommonScenariosTest.php
  tests/Integrations/Symfony/V5_1/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_2/CommonScenariosTest.php
Labels: 🏆 enhancement, cat:integration

#1680 [Profiling] Switch `<php>` to `<?php`
  profiling/src/profiling.rs
Labels: 🏆 enhancement, profiling

#1681 [Profiling] Raise max stack depth to 512
  profiling/src/profiling.rs
Labels: 🏆 enhancement, profiling

#1686 Update artifact URL for v0.77.0 gitlab deployments
  .gitlab-ci.yml
Labels: dev/testing

#1689 Update relenv to use datadog-setup.php
  .gitlab-ci.yml
Labels: 🏆 enhancement, dev/testing

#1690 Add phpt tests for profiling
  .circleci/config.yml
  profiling/src/lib.rs
  profiling/tests/phpt/disabled_hooks_01.phpt
  profiling/tests/phpt/phpinfo_01.phpt
Labels: dev/testing, profiling

#1697 Fix span memory leak and packaging
  .circleci/config.yml
  ext/php7/span.c
  ext/php8/span.c
Labels: 🐛 bug, c-extension, Overhead

#1702 Fix #1687 datadog-setup.php failing in environments without scan directory
  datadog-setup.php
  dockerfiles/verify_packages/Makefile
  dockerfiles/verify_packages/installer/test_install_without_scan_dir.sh
  dockerfiles/verify_packages/installer/utils.sh
  tests/Integration/PHPInstallerTest.php
Labels: cat:installation

#1698 [profiling] Add Unix Domain Socket (UDS) support
  profiling/Cargo.toml
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.h
  profiling/src/profiling.rs
  profiling/tests/phpt/uds_01.phpt
  profiling/tests/phpt/uds_02.phpt
Labels: 🏆 enhancement, profiling

#1700 [profiling] Avoid PHP per-request interning
  profiling/Cargo.toml
  profiling/build.rs
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
Labels: 🐛 bug, Overhead, profiling

#1706 Set root span name only in HttpKernel::boot() to avoid side effects on CLI
  src/Integrations/Integrations/Symfony/SymfonyIntegration.php
  tests/Integrations/Symfony/V2_3/RouteNameTest.php
  tests/Integrations/Symfony/V2_8/RouteNameTest.php
  tests/composer.json
Labels: 🐛 bug

#1711 Fix #1709 appsec attempting to load erroneously
  datadog-setup.php
Labels: cat:installation

#1710 [profiling] Extract C API module; refactor Uuid
  profiling/src/capi.rs
  profiling/src/lib.rs
  profiling/src/profiling.rs
Labels: profiling
