Repository DataDog/dd-trace-php, pull requests merged in 2022-12, with the labels that each got.

#1823 Speed up "Attaching workspace" step in CI
  .circleci/config.yml
Labels: dev/testing, ci

#1825 Bump `libdatadog` to `v1.0.0`
  profiling/Cargo.toml
  profiling/src/profiling.rs
Labels: profiling

#1822 Release 0.82.0
  .gitlab-ci.yml
  ext/version.h
  package.xml
  src/DDTrace/Tracer.php
Labels: ⏩ Version Bump, release

#1832 Fix GH-1828: crash when copying an immutable array
  ext/startup_logging.c
  tests/ext/priority_sampling/001-default-sampling.phpt
  tests/ext/priority_sampling/gh-1828.phpt
Labels: 🐛 bug, cat:app-crash

#1829 Fix installer name in `datadog-setup.php`
  datadog-setup.php
Labels: cat:installation, cat:usability

#1835 [Tracer][CodeIgniter] Fix CodeIgniter integration to not depend on CI_Controller class
  src/Integrations/Integrations/CodeIgniter/V2/CodeIgniterIntegration.php
  tests/Frameworks/CodeIgniter/Version_2_2/application/controllers/health_check.php
  tests/Frameworks/Util/CommonScenariosDataProviderTrait.php
  tests/Integrations/CodeIgniter/V2_2/NoCI_ControllertTest.php
Labels: cat:integration

#1837 Add configuration to save profiles to disk
  profiling/src/config.rs
  profiling/src/profiling.rs
Labels: dev/testing, profiling
