Repository DataDog/dd-trace-php, pull requests merged in 2022-11, with the labels that each got.

#1782 Bump `libdatadog` to `0.9`
  profiling/Cargo.toml
  profiling/src/lib.rs
  profiling/src/profiling.rs
Labels: 🏆 enhancement, profiling

#1785 Fix span limiter not being reset in long running processes
  .circleci/config.yml
  ext/span.c
  tests/ext/sandbox-regression/dd_trace_tracer_limiter_reset_flush.phpt
Labels: sev-1

#1761 Add troubleshooting to `README`
  profiling/README.md
Labels: cat:docs, profiling

#1778 Avoid deprecated zend_atol on PHP 8.2
  zend_abstract_interface/config/config_decode.c
Labels: c-extension

#1793 [CI] Use the test agent instead of the real agent in tests
  .circleci/config.yml
  CONTRIBUTING.md
  tests/randomized/lib/docker-compose.yml
Labels: cat:devtools, ci

#1804 [PROF-6420] bump env_logger to `0.9.3`
  profiling/Cargo.toml
Labels: 🏆 enhancement, profiling

#1809 Fix misbehaviour with 256+ hooks on a same function
  ext/span.c
  tests/ext/sandbox-regression/handle_many_hooks.phpt
Labels: 🐛 bug, c-extension

#1813 Add a Roadrunner integration
  .gitignore
  Makefile
  bridge/_files_integrations.php
  ext/compatibility.h
  ext/ddtrace.c
  ext/handlers_exception.c
  ext/handlers_exception.h
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  src/Integrations/Integrations/Roadrunner/RoadrunnerIntegration.php
  tests/Common/WebFrameworkTestCase.php
  tests/Frameworks/Roadrunner/Version_2/composer.json
  tests/Frameworks/Roadrunner/Version_2/worker.php
  tests/Integrations/Roadrunner/V2/CommonScenariosTest.php
  tests/Integrations/Roadrunner/V2/DistributedTracingTest.php
  tests/Sapi/Roadrunner/.rr.yaml
  tests/Sapi/Roadrunner/RoadrunnerServer.php
  tests/Unit/Integrations/IntegrationsLoaderTest.php
  tests/WebServer.php
Labels: cat:new-integration
