Repository DataDog/dd-trace-php, pull requests merged in 2022-10, with the labels that each got.

#1752 [profiling] Prevent deadlocks when forking
  profiling/Cargo.toml
  profiling/src/lib.rs
  profiling/src/pcntl.rs
  profiling/src/profiling.rs
Labels: 🐛 bug, profiling

#1763 Fix #1762 drop check for root span in Guzzle Integration
  src/Integrations/Integrations/Guzzle/GuzzleIntegration.php
Labels: cat:integration

#1769 Implement rate limiter
  config.m4
  ext/configuration.h
  ext/ddtrace.c
  ext/limiter/limiter.c
  ext/limiter/limiter.h
  ext/priority_sampling/priority_sampling.c
  tests/ext/limiter/001-limiter-disabled.phpt
  tests/ext/limiter/002-limiter-reached.phpt
Labels: c-extension

#1771 Do not create root spans for certain Symfony methods
  Makefile
  ext/span.c
  src/Integrations/Integrations/Symfony/SymfonyIntegration.php
  tests/Integrations/CLI/Symfony/V4_4/CommonScenariosTest.php
  tests/Integrations/CLI/Symfony/V5_2/CommonScenariosTest.php
  tests/phpunit.xml
Labels: 🐛 bug, cat:integration

#1779 Fix crash in ddtrace_curl_multi_get_gc
  ext/handlers_curl.c
  tests/ext/integrations/curl/distributed_tracing_curl_multi_exec_003.phpt
Labels: cat:app-crash

#1773 improve ldconfig operation in installer
  datadog-setup.php
  dockerfiles/verify_packages/Makefile
  dockerfiles/verify_packages/installer/test_install_no_ldconfig_in_path.sh
Labels: cat:installation
