Repository DataDog/dd-trace-php, pull requests merged in 2022-09, with the labels that each got.

#1723 Fix symfony service and root span name
  src/Integrations/Integrations/Symfony/SymfonyIntegration.php
  tests/Integrations/Symfony/V5_2/ConsoleCommandTest.php
Labels: 🐛 bug, cat:integration

#1724 Integrate with Symfony console commands
  src/Integrations/Integrations/Symfony/SymfonyIntegration.php
  tests/Common/SpanChecker.php
  tests/Integrations/Symfony/V3_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V3_3/CommonScenariosTest.php
  tests/Integrations/Symfony/V3_3/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_0/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V4_2/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_2/ConsoleCommandTest.php
Labels: 🏆 enhancement, cat:integration

#1720 Add Endpoint Profiling
  cmake/Modules/FindPhpConfig.cmake
  config.m4
  ext/engine_hooks.c
  ext/profiling.c
  ext/profiling.h
  ext/serializer.c
  profiling/Cargo.toml
  profiling/src/capi.rs
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling.rs
  profiling/tests/phpt/phpinfo_01.phpt
  tea/CMakeLists.txt
  tea/cmake/TeaConfig.cmake.in
  tests/tea/CMakeLists.txt
Labels: 🏆 enhancement, profiling

#1726 Initialize hooks and config early to prevent conflicts with code executed in early startup
  ext/ddtrace.c
  zend_abstract_interface/interceptor/php7/interceptor.c
  zend_abstract_interface/interceptor/php7/interceptor.h
  zend_abstract_interface/interceptor/php8/interceptor.c
  zend_abstract_interface/interceptor/php8/interceptor.h
  zend_abstract_interface/interceptor/tests/interceptor.cc
  zend_abstract_interface/interceptor/tests/resolver.cc
Labels: 🐛 bug, c-extension

#1739 Avoid deprecated in PHP 8.2 constructs in tests
  tests/ext/sandbox-regression/method_invoked_via_reflection.phpt
  tests/ext/sandbox/hook_method/posthook_scope_01.phpt
  tests/ext/sandbox/hook_method/posthook_scope_02.phpt
  tests/ext/sandbox/hook_method/posthook_scope_03.phpt
  tests/ext/sandbox/hook_method/prehook_error_01.phpt
  tests/ext/sandbox/hook_method/prehook_scope_01.phpt
  tests/ext/sandbox/hook_method/prehook_scope_02.phpt
  tests/ext/sandbox/hook_method/prehook_scope_03.phpt
Labels: dev/testing, c-extension

#1743 Handle non-binaries in installer
  datadog-setup.php
  dockerfiles/verify_packages/Makefile
  dockerfiles/verify_packages/installer/test_install_non_binary.sh
  tests/Integration/PHPInstallerTest.php
Labels: cat:installation

#1733 [profiling] Match the service names of the tracer when unset or empty
  ext/serializer.c
  profiling/src/lib.rs
  profiling/src/sapi.rs
  profiling/tests/phpt/service_cli_01.phpt
  profiling/tests/phpt/service_web_01.phpt
Labels: 🐛 bug, profiling

#1745 [profiling] Avoid crashing when pcntl_fork is called
  .circleci/config.yml
  config.m4
  ext/handlers_api.c
  ext/handlers_api.h
  ext/handlers_curl.c
  ext/handlers_curl_php7.c
  ext/handlers_exception.c
  ext/handlers_internal.c
  ext/handlers_internal.h
  ext/handlers_pcntl.c
  profiling/Cargo.toml
  profiling/build.rs
  profiling/src/bindings/mod.rs
  profiling/src/capi.rs
  profiling/src/lib.rs
  profiling/src/pcntl.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
  profiling/tests/phpt/fork_01.phpt
Labels: 🐛 bug, cat:app-crash, profiling

#1751 Fix #1750 configurable max payload size
  ext/auto_flush.c
  ext/comms_php.h
  ext/coms.c
  ext/coms.h
  ext/configuration.h
  ext/ddtrace.c
  src/DDTrace/Transport/Http.php
Labels: c-extension
