Repository DataDog/dd-trace-php, pull requests merged in 2023-10, with the labels that each got.

#2098 Add PHP 8.3 support
  .circleci/continue_config.yml
  .gitlab-ci.yml
  .gitlab/ci-images.yml
  dockerfiles/ci/README.md
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/buster/build-extensions.sh
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/buster/php-8.3/Dockerfile
  dockerfiles/ci/buster/php-8.3/suppr.txt
  dockerfiles/ci/centos/7/base.Dockerfile
  dockerfiles/ci/centos/7/docker-compose.yml
  dockerfiles/ci/centos/7/php-8.3/configure.sh
  dockerfiles/ci/xfail_tests/8.3.list
  dockerfiles/ci/xfail_tests/README.md
  ext/hook/uhook.c
  package.xml
  tea/src/extension.c
  tooling/bin/generate-final-artifact.sh
  zend_abstract_interface/interceptor/php8/interceptor.c
Labels: ci, profiling, tracing

#2297 fix(profiling) neighboring extension handling in `gc_mem_caches()`
  profiling/src/allocation.rs
  profiling/tests/phpt/gc_mem_caches_02.phpt
Labels: profiling

#2301 fix(profiling) panic after shutdown of forked child when `USE_ZEND_ALLOC=0`
  profiling/src/lib.rs
  profiling/src/pcntl.rs
  profiling/tests/phpt/gc_mem_caches_01.phpt
Labels: profiling

#2306 Redis Span Removal and Priority Sampling Orphans Cleanup
  src/Integrations/Integrations/Laravel/LaravelIntegration.php
  src/Integrations/Integrations/PHPRedis/PHPRedisIntegration.php
  src/Integrations/Integrations/Predis/PredisIntegration.php
Labels: tracing

#2320 feat(profiling) reuse poisson sampler and thread rng
  profiling/src/allocation.rs
  profiling/src/exception.rs
Labels: profiling

#2323 fix(profiling) exception sampling distance
  profiling/src/exception.rs
  profiling/src/lib.rs
  profiling/tests/phpt/exceptions_01.phpt
Labels: 🐛 bug, profiling

#2299 feat(profiling) upgrade to `libdatadog` v5
  .github/workflows/prof_correctness.yml
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Labels: profiling

#2331 fix(profiling) flaky exception correctness test
  .github/workflows/prof_correctness.yml
Labels: dev/testing, profiling

#2304 Add a configuration flag to disable laravel queue distributed tracing
  ext/configuration.h
  ext/serializer.c
  src/Integrations/Integrations/LaravelQueue/LaravelQueueIntegration.php
  tests/Integrations/Laravel/V8_x/QueueTestNotDistributed.php
  tests/ext/dd_trace_span_link_with_exception.phpt
Labels: cat:configuration, tracing

#2322 Laminas RESTful methods handling
  Makefile
  src/Integrations/Integrations/Laminas/LaminasIntegration.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/.dockerignore
  tests/Frameworks/Laminas/ApiTools/Version_1_9/.gitattributes
  tests/Frameworks/Laminas/ApiTools/Version_1_9/.gitignore
  tests/Frameworks/Laminas/ApiTools/Version_1_9/.laminas-ci.json
  tests/Frameworks/Laminas/ApiTools/Version_1_9/COPYRIGHT.md
  tests/Frameworks/Laminas/ApiTools/Version_1_9/Dockerfile
  tests/Frameworks/Laminas/ApiTools/Version_1_9/LICENSE.md
  tests/Frameworks/Laminas/ApiTools/Version_1_9/README.md
  tests/Frameworks/Laminas/ApiTools/Version_1_9/Vagrantfile
  tests/Frameworks/Laminas/ApiTools/Version_1_9/composer.json
  tests/Frameworks/Laminas/ApiTools/Version_1_9/config/application.config.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/config/autoload/.gitignore
  tests/Frameworks/Laminas/ApiTools/Version_1_9/config/autoload/README.md
  tests/Frameworks/Laminas/ApiTools/Version_1_9/config/autoload/api-tools-config.global.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/config/autoload/api-tools-mvc-auth-oauth2-override.global.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/config/autoload/global-development.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/config/autoload/global.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/config/autoload/local.php.dist
  tests/Frameworks/Laminas/ApiTools/Version_1_9/config/autoload/user.global.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/config/development.config.php.dist
  tests/Frameworks/Laminas/ApiTools/Version_1_9/config/modules.config.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/data/cache/.gitkeep
  tests/Frameworks/Laminas/ApiTools/Version_1_9/docker-compose.yml
  tests/Frameworks/Laminas/ApiTools/Version_1_9/module/Application/config/module.config.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/module/Application/src/Controller/IndexController.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/module/Application/src/Module.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/module/Application/test/Controller/IndexControllerTest.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/module/Application/test/Controller/ZZIndexControllerDevModeTest.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/module/Application/view/application/index/index.phtml
  tests/Frameworks/Laminas/ApiTools/Version_1_9/module/Application/view/error/404.phtml
  tests/Frameworks/Laminas/ApiTools/Version_1_9/module/Application/view/error/index.phtml
  tests/Frameworks/Laminas/ApiTools/Version_1_9/module/Application/view/layout/layout.phtml
  tests/Frameworks/Laminas/ApiTools/Version_1_9/module/DatadogApi/Module.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/module/DatadogApi/config/module.config.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/module/DatadogApi/src/V1/Rest/DatadogRestService/DatadogRestServiceCollection.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/module/DatadogApi/src/V1/Rest/DatadogRestService/DatadogRestServiceEntity.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/module/DatadogApi/src/V1/Rest/DatadogRestService/DatadogRestServiceResource.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/module/DatadogApi/src/V1/Rest/DatadogRestService/DatadogRestServiceResourceFactory.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/phpcs.xml.dist
  tests/Frameworks/Laminas/ApiTools/Version_1_9/phpunit.xml.dist
  tests/Frameworks/Laminas/ApiTools/Version_1_9/psalm-baseline.xml
  tests/Frameworks/Laminas/ApiTools/Version_1_9/psalm.xml.dist
  tests/Frameworks/Laminas/ApiTools/Version_1_9/public/.gitignore
  tests/Frameworks/Laminas/ApiTools/Version_1_9/public/.htaccess
  tests/Frameworks/Laminas/ApiTools/Version_1_9/public/img/ag-hero.png
  tests/Frameworks/Laminas/ApiTools/Version_1_9/public/img/favicon.png
  tests/Frameworks/Laminas/ApiTools/Version_1_9/public/index.php
  tests/Frameworks/Laminas/ApiTools/Version_1_9/public/web.config
  tests/Frameworks/Laminas/ApiTools/Version_1_9/src/ApiTools/constants.php
  tests/Integrations/Laminas/ApiTools/V1_9/RESTTest.php
  tests/snapshots/tests.integrations.laminas.api_tools.v1_9.rest_test.test_scenario_rest2xx.json
  tests/snapshots/tests.integrations.laminas.api_tools.v1_9.rest_test.test_scenario_rest4xx.json
  tests/snapshots/tests.integrations.laminas.api_tools.v1_9.rest_test.test_scenario_rest5xx.json
  tests/snapshots/tests.integrations.laminas.v1_4.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laminas.v1_4.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laminas.v2_0.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laminas.v2_0.common_scenarios_test.test_scenario_get_with_exception.json
Labels: cat:integration, tracing

#2333 Expand arrays in metrics into nested-tag format
  ext/serializer.c
  tests/ext/sandbox/safe_to_string_metrics.phpt
Labels: 🏆 enhancement, 🍏 core
