Repository DataDog/dd-trace-php, pull requests merged in 2023-02, with the labels that each got.

#1900 Add Symfony 6.2 testsuite
  Makefile
  tests/Frameworks/Symfony/Version_6_2/.env
  tests/Frameworks/Symfony/Version_6_2/.gitignore
  tests/Frameworks/Symfony/Version_6_2/bin/console
  tests/Frameworks/Symfony/Version_6_2/composer.json
  tests/Frameworks/Symfony/Version_6_2/config/bundles.php
  tests/Frameworks/Symfony/Version_6_2/config/packages/cache.yaml
  tests/Frameworks/Symfony/Version_6_2/config/packages/framework.yaml
  tests/Frameworks/Symfony/Version_6_2/config/packages/prod/routing.yaml
  tests/Frameworks/Symfony/Version_6_2/config/packages/routing.yaml
  tests/Frameworks/Symfony/Version_6_2/config/packages/test/framework.yaml
  tests/Frameworks/Symfony/Version_6_2/config/packages/test/twig.yaml
  tests/Frameworks/Symfony/Version_6_2/config/packages/twig.yaml
  tests/Frameworks/Symfony/Version_6_2/config/preload.php
  tests/Frameworks/Symfony/Version_6_2/config/routes.yaml
  tests/Frameworks/Symfony/Version_6_2/config/routes/annotations.yaml
  tests/Frameworks/Symfony/Version_6_2/config/routes/dev/framework.yaml
  tests/Frameworks/Symfony/Version_6_2/config/routes/framework.yaml
  tests/Frameworks/Symfony/Version_6_2/config/services.yaml
  tests/Frameworks/Symfony/Version_6_2/public/index.php
  tests/Frameworks/Symfony/Version_6_2/src/Controller/.gitignore
  tests/Frameworks/Symfony/Version_6_2/src/Controller/CommonScenariosController.php
  tests/Frameworks/Symfony/Version_6_2/src/Kernel.php
  tests/Frameworks/Symfony/Version_6_2/templates/base.html.twig
  tests/Frameworks/Symfony/Version_6_2/templates/twig_template.html.twig
  tests/Integrations/CLI/Symfony/V6_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V6_2/CommonScenariosTest.php
  tests/Integrations/Symfony/V6_2/ConsoleCommandTest.php
  tests/Integrations/Symfony/V6_2/TraceSearchConfigTest.php
  tests/phpunit.xml
Labels: dev/testing, cat:integration

#1875 Add 128-bit trace id generation and propagation via _dd.p.tid
  ext/configuration.h
  ext/ddtrace.c
  ext/ddtrace.h
  ext/serializer.c
  ext/span.c
  ext/tracer_tag_propagation/tracer_tag_propagation.c
  tests/ext/generate_128_bit_trace_id.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_tracestate.phpt
Labels: 🏆 enhancement, tracing

#1907 update Cargo.lock
  profiling/Cargo.lock
Labels: profiling

#1906 refactor(profiling): cleanup add/remove interrupts
  profiling/src/lib.rs
  profiling/src/profiling.rs
Labels: profiling

#1831 perf: use numbers instead of numeric strings in pprof labels
  profiling/Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling.rs
Labels: Overhead, profiling

#1908 refactor(profiling): clean up stalk walking
  profiling/src/bindings/mod.rs
  profiling/src/php_ffi.c
  profiling/src/profiling.rs
Labels: profiling

#1913 perf(profiling): increased allocation sampling distance to 512KiB
  profiling/src/lib.rs
Labels: profiling

#1915 update latest version used for relenv
  .gitlab-ci.yml
Labels: profiling

#1904 Add hooking for Closures
  ext/compatibility.h
  ext/hook/uhook.c
  ext/hook/uhook.stub.php
  ext/hook/uhook_arginfo.h
  ext/hook/uhook_attributes_arginfo.h
  ext/hook/uhook_legacy.c
  ext/span.c
  tests/ext/sandbox/dd_dumper.inc
  tests/ext/sandbox/install_hook/trace_closure.phpt
  tests/ext/sandbox/install_hook/trace_closure_from_callable.phpt
  tests/ext/sandbox/install_hook/trace_function.phpt
  tests/ext/sandbox/install_hook/trace_generator.phpt
  zend_abstract_interface/hook/hook.c
  zend_abstract_interface/hook/hook.h
  zend_abstract_interface/interceptor/php8/interceptor.c
Labels: 🍏 core

#1926 Use checked_sub duration ops for handling cpu time
  profiling/src/profiling.rs
Labels: 🐛 bug, profiling

#1930 Upgrade CentOS 7 images to Rust 1.64
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/base.Dockerfile
  dockerfiles/ci/centos/7/docker-compose.yml
Labels: profiling

#1927 fix: mask Zend Signals in profiling threads
  profiling/src/profiling.rs
Labels: 🐛 bug, profiling

#1931 refactor: cleanup after Rust 1.64 upgrade
  profiling/src/lib.rs
  profiling/src/profiling.rs
Labels: profiling

#1932 Mitigate panic in profiler shutdown, bound timeout
  profiling/src/lib.rs
  profiling/src/profiling.rs
Labels: profiling

#1943 refactor(profiling): extract thread_utils module
  profiling/src/lib.rs
  profiling/src/profiling.rs
  profiling/src/thread_utils.rs
Labels: profiling

#1946 refactor(profiling): extract uploader, promote profiling.rs to directory
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/thread_utils.rs
  profiling/src/profiling/uploader.rs
Labels: profiling

#1947 refactor(profiling): extract stalk walking code
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stalk_walking.rs
Labels: profiling

#1948 refactor(profiling): extract interrupt manager
  profiling/src/lib.rs
  profiling/src/profiling/interrupts.rs
  profiling/src/profiling/mod.rs
Labels: profiling
