Repository DataDog/dd-trace-php, pull requests merged in 2023-09, with the labels that each got.

#2235 fix: wrong service name on some laravel.event.handle spans
  src/Integrations/Integrations/Laravel/LaravelIntegration.php
  tests/Common/SpanAssertion.php
  tests/Integrations/Laravel/V4/CommonScenariosTest.php
  tests/Integrations/Laravel/V5_7/CommonScenariosTest.php
  tests/Integrations/Laravel/V5_8/CommonScenariosTest.php
  tests/Integrations/Laravel/V8_x/CommonScenariosTest.php
Labels: 🐛 bug, tracing

#2228 build(profiling): bump dependencies including libdatadog v4.0.0
  Cargo.lock
  Cargo.toml
  profiling/Cargo.toml
  profiling/src/profiling/mod.rs
Labels: profiling

#2242 fix: `datadog-setup.php` when INI file is a symlink
  datadog-setup.php
  package.xml
Labels: cat:installation

#2243 Work around JITting when using HookData->overrideArguments
  config.m4
  ext/ddtrace.c
  ext/hook/uhook.c
  package.xml
  tests/ext/sandbox/install_hook/override_argument_jit.phpt
  zend_abstract_interface/jit_utils/jit_blacklist.c
  zend_abstract_interface/jit_utils/jit_blacklist.h
Labels: 🐛 bug, tracing

#2247 dependencies: update webpki and others
  Cargo.lock
  package.xml
Labels: profiling

#2251 fix(profilier) Add missing `end_timestamp_ns` to string compilation event
  profiling/src/profiling/mod.rs
  profiling/src/timeline.rs
  profiling/tests/correctness/timeline.json
  profiling/tests/correctness/timeline.php
Labels: 🐛 bug, profiling

#2250 fix(profiling) detect an uninitialized runtime cache
  profiling/src/php_ffi.c
Labels: 🐛 bug, profiling

#2254 fix: keep doctrine/dbal to major version 2 in symfony 5.2 tests
  tests/Frameworks/Symfony/Version_5_2/composer.json
Labels: dev/testing, ci

#2256 fix: Use DD_SERVICE if available (Laravel)
  src/Integrations/Integrations/Laravel/LaravelIntegration.php
  tests/Integrations/Laravel/V9_x/CommonScenariosTest.php
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v10_x.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.laravel.v9_x.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.laravel.v9_x.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.laravel.v9_x.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.laravel.v9_x.common_scenarios_test.test_scenario_get_with_view.json
Labels: 🐛 bug, cat:integration, tracing

#2197 feat(profiling): add exception profiling
  .github/workflows/prof_correctness.yml
  profiling/Cargo.toml
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  profiling/src/exception.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.h
  profiling/src/profiling/mod.rs
  profiling/tests/correctness/exceptions.json
  profiling/tests/correctness/exceptions.php
  profiling/tests/phpt/phpinfo_01.phpt
  profiling/tests/phpt/phpinfo_03.phpt
  profiling/tests/phpt/phpinfo_ini_01.phpt
Labels: profiling

#2264 docs: explain minimum and nice-to-have from LLVM
  dockerfiles/ci/alpine_compile_extension/Dockerfile
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/centos/7/base.Dockerfile
Labels: ci

#2270 fix: enable auto flush for artisan commands
  src/Integrations/Integrations/Laravel/LaravelIntegration.php
Labels: 🐛 bug, cat:integration, tracing

#2261 fix(profiling) store customized heap
  profiling/src/allocation.rs
Labels: profiling

#2262 feat(profiling): add exception profiling INI settings
  datadog-setup.php
Labels: profiling

#2272 ci: Add some php extensions to the buster images
  dockerfiles/ci/buster/Dockerfile
  dockerfiles/ci/buster/build-extensions.sh
  dockerfiles/ci/buster/build-php.sh
  dockerfiles/ci/xfail_tests/7.0.list
  dockerfiles/ci/xfail_tests/7.1.list
  dockerfiles/ci/xfail_tests/7.2.list
  dockerfiles/ci/xfail_tests/7.3.list
  dockerfiles/ci/xfail_tests/7.4.list
Labels: ci

#2278 fix(profiler) the profiler is not beta anymore
  datadog-setup.php
Labels: profiling

#2280 fix(profiling): use-after-free with Closure trampolines
  profiling/src/lib.rs
  profiling/tests/phpt/trampolines_02.phpt
Labels: cat:app-crash, profiling

#2289 ci: fix relenv deployment
  .gitlab-ci.yml
Labels: ci

#2294 fix(profiling) allocation profiling shutdown with `USE_ZEND_ALLOC=0` crashing
  profiling/src/allocation.rs
  profiling/tests/phpt/allocation_jit_01.phpt
Labels: profiling

#2291 fix(profiling): do not leak module entry on purpose
  profiling/src/lib.rs
Labels: profiling
