Repository DataDog/dd-trace-php, pull requests merged in 2023-01, with the labels that each got.

#1838 Remove libexecinfo on Alpine
  .circleci/config.yml
  Makefile
  datadog-setup.php
  dockerfiles/ci/alpine_compile_extension/build-dd-trace-php
  dockerfiles/verify_packages/alpine/install.sh
  dockerfiles/verify_packages/installer/test_alpine_no_ext_json.sh
  dockerfiles/verify_packages/installer/test_alpine_no_libexecinfo.sh
  dockerfiles/verify_packages/installer/test_install_on_plesk.sh
Labels: 💔 breaking-change, c-extension

#1843 Add missing span kind to CodeIgniter test
  tests/Integrations/CodeIgniter/V2_2/NoCI_ControllertTest.php
Labels: dev/testing

#1826 Change process_id to metrics tag
  ext/serializer.c
  tests/Common/SpanChecker.php
  tests/Integrations/Curl/CurlIntegrationTest.php
  tests/Integrations/Custom/Autoloaded/TraceSearchConfigTest.php
  tests/Integrations/Laravel/V4/TraceSearchConfigTest.php
  tests/Integrations/Laravel/V5_7/TraceSearchConfigTest.php
  tests/Integrations/Laravel/V5_8/TraceSearchConfigTest.php
  tests/Integrations/Laravel/V8_x/InternalExceptionsTest.php
  tests/Integrations/Lumen/V5_2/TraceSearchConfigTest.php
  tests/Integrations/Lumen/V5_6/TraceSearchConfigTest.php
  tests/Integrations/Lumen/V5_8/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V3_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V3_3/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V3_4/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_2/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V4_4/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_0/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_1/TraceSearchConfigTest.php
  tests/Integrations/Symfony/V5_2/TraceSearchConfigTest.php
  tests/Integrations/ZendFramework/V1/TraceSearchConfigTest.php
  tests/OpenTracer1Unit/TracerTest.php
  tests/OpenTracerUnit/TracerTest.php
  tests/Unit/TracerTest.php
  tests/ext/active_span.phpt
  tests/ext/distributed_tracing/distributed_trace_bogus_ids.phpt
  tests/ext/distributed_tracing/distributed_trace_inherit.phpt
  tests/ext/extract_server_values.phpt
  tests/ext/fibers/fiber_observer_bailout.phpt
  tests/ext/fibers/fiber_stack_switch.phpt
  tests/ext/root_span_add_tag.phpt
  tests/ext/root_span_url_as_resource_names.phpt
  tests/ext/root_span_url_as_resource_names_no_host.phpt
  tests/ext/sandbox-prehook/dd_trace_method.phpt
  tests/ext/sandbox/dd_trace_function_alias.phpt
  tests/ext/sandbox/dd_trace_function_complex.phpt
  tests/ext/sandbox/dd_trace_function_internal.phpt
  tests/ext/sandbox/dd_trace_method.phpt
  tests/ext/sandbox/dd_trace_method_alias.phpt
  tests/ext/sandbox/errors_are_flagged_from_userland.phpt
  tests/ext/sandbox/span_clone.phpt
  tests/ext/span_stack/span_stack_clone.phpt
  tests/ext/span_stack/span_stack_swap.phpt
  tests/ext/span_stack/span_stack_swap_traced_function.phpt
  tests/ext/span_stack/span_trace_stack_autoclose.phpt
  tests/ext/span_stack/span_trace_swap.phpt
  tests/ext/span_stack/start_span_new_trace.phpt
  tests/ext/span_stack/start_span_stack.phpt
  tests/ext/span_stack/start_top_level_span_stack.phpt
  tests/ext/span_with_removed_exception.phpt
  tests/ext/start_span_with_all_properties.phpt
  tests/ext/start_span_without_closing.phpt
Labels: 🍏 core

#1848 Bump profiling version for release
  profiling/Cargo.toml
Labels: ⏩ Version Bump, profiling

#1850 Document Wall- and CPU-time
  profiling/README.md
Labels: cat:docs, profiling

#1852 Avoid putting .package-cache into the cache, commit Cargo.lock
  .circleci/config.yml
  profiling/Cargo.lock
Labels: dev/testing, profiling

#1851 Improve extension matching in installer
  datadog-setup.php
Labels: cat:installation

#1853 Clear the active closed stack head when resetting the tracer
  ext/span.c
Labels: cat:app-crash

#1854 Release 0.83.0
  .gitlab-ci.yml
  ext/version.h
  package.xml
  src/DDTrace/Tracer.php
Labels: release

#1815 [PROF-6535] cleanup and make allocation profiling usable
  profiling/Cargo.lock
  profiling/Cargo.toml
  profiling/build.rs
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
  profiling/src/profiling.rs
  profiling/tests/phpt/phpinfo_01.phpt
  profiling/tests/phpt/phpinfo_ini_01.phpt
Labels: 🏆 enhancement, profiling

#1864 Use the HttpWorker instead of the Psr7Worker for Roadrunner for more generic usage
  src/Integrations/Integrations/Roadrunner/RoadrunnerIntegration.php
Labels: 🐛 bug, cat:integration

#1863 Fix trace_id reset in DDTrace\set_distributed_tracing_context()
  ext/ddtrace.c
  tests/Common/TracerTestTrait.php
  tests/ext/distributed_tracing/distributed_trace_overwrite_active_span.phpt
Labels: 🐛 bug

#1869 style(datadog-setup.php): reformat file
  datadog-setup.php
Labels: cat:installation

#1871 refactor(profiling): fix clippy::too_many_arguments
  profiling/src/profiling.rs
Labels: profiling

#1865 fix(profiling): prepare heap for `gc_mem_caches()`
  profiling/src/lib.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
  profiling/tests/phpt/gc_mem_caches_01.phpt
Labels: profiling

#1872 fix(profiling): do not send empty profile samples
  profiling/src/profiling.rs
Labels: profiling

#1874 feat(profiling): compile `allocation-profiling` feature by default
  profiling/Cargo.toml
Labels: profiling

#1879 Bump profiler version for upcoming release
  profiling/Cargo.toml
Labels: profiling

#1878 [PROF-6813] add allocation profiling ini setting to `datadog-setup.php`
  datadog-setup.php
Labels: profiling

#1881 fix(profiler) bump minor versions in Cargo.lock
  profiling/Cargo.lock
Labels: profiling

#1885 Fix empty profiles if sample types and samples values mismatch
  profiling/src/profiling.rs
Labels: profiling

#1870 refactor(datadog-setup.php): cleanup PhpStorm warnings
  datadog-setup.php
Labels: cat:installation

#1887 test(profiling): test profile types sent match the configuration
  profiling/src/lib.rs
  profiling/src/profiling.rs
Labels: profiling

#1839 Show error message when PDO returns an error
  src/Integrations/Integrations/PDO/PDOIntegration.php
  tests/Integrations/PDO/PDOTest.php
Labels: 🏆 enhancement, cat:integration
