Repository DataDog/dd-trace-php, pull requests merged in 2023-11, with the labels that each got.

#2350 perf(profiling): increase allocation sampling distance
  profiling/src/allocation.rs
  profiling/tests/correctness/allocations.json
  profiling/tests/correctness/allocations.php
Labels: Overhead, profiling

#2363 Fix PHP5: The Magento Integration is not part of PHP5
  src/Integrations/Integrations/IntegrationsLoader.php
Labels: 🐛 bug, tracing

#2364 fix(profiling) absolute numbers for allocation correctness
  profiling/tests/correctness/allocations.json
Labels: ci, profiling

#2368 Update appsec tests (128-bit)
  appsec/tests/extension/client_init_record_span_tags.phpt
  appsec/tests/extension/ddtrace_basic.phpt
  appsec/tests/extension/rinit_record_span_tags.phpt
  appsec/tests/extension/rinit_record_span_tags_fail.phpt
  appsec/tests/extension/rinit_root_span_add_tag.phpt
  appsec/tests/extension/root_span_add_tag.phpt
  appsec/tests/extension/root_span_add_tag_with_intermediate_spans.phpt
Labels: dev/testing, area:asm

#2365 Respect `DD_LOGS_INJECTION` default value
  ext/configuration.h
  ext/integrations/integrations.h
  tests/Integrations/Custom/Autoloaded/InstrumentationTest.php
  tests/Integrations/Logs/BaseLogsTest.php
  tests/Integrations/Logs/LaminasLogV2/LaminasLogV2Test.php
  tests/ext/logging_default_value.phpt
  tests/ext/telemetry/integration.phpt
Labels: cat:configuration, cat:log-injection, tracing

#2343 feat(profiling): add idle phases to timeline
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/timeline.rs
  profiling/tests/correctness/timeline.json
Labels: profiling

#2332 OpenTelemetry API
  Makefile
  README.md
  bridge/_files_integrations.php
  bridge/autoload.php
  bridge/dd_register_optional_deps_autoloader.php
  composer.json
  datadog-setup.php
  ext/configuration.h
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/handlers_http.h
  ext/serializer.c
  phpstan.ddtrace.neon
  src/DDTrace/OpenTelemetry/Context.php
  src/DDTrace/OpenTelemetry/Span.php
  src/DDTrace/OpenTelemetry/SpanBuilder.php
  src/DDTrace/OpenTelemetry/SpanContext.php
  src/Integrations/Util/Convention.php
  tests/Common/BaseTestCase.php
  tests/OpenTelemetry/Integration/API/BaggageTest.php
  tests/OpenTelemetry/Integration/API/TracerTest.php
  tests/OpenTelemetry/Integration/Context/FiberTest.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
  tests/OpenTelemetry/Integration/Logs/HandlerTest.php
  tests/OpenTelemetry/Integration/SDK/SpanBuilderTest.php
  tests/OpenTelemetry/Integration/SDK/SpanContextTest.php
  tests/OpenTelemetry/Integration/SDK/SpanProcessorTest.php
  tests/OpenTelemetry/Integration/SDK/TracerTest.php
  tests/OpenTelemetry/Unit/API/Baggage/BaggageTest.php
  tests/OpenTelemetry/Unit/API/Baggage/Propagation/BaggagePropagatorTest.php
  tests/OpenTelemetry/Unit/API/Trace/NonRecordingSpanTest.php
  tests/OpenTelemetry/Unit/API/Trace/SpanContextTest.php
  tests/OpenTelemetry/Unit/API/Trace/TraceTest.php
  tests/OpenTelemetry/Unit/Context/ContextStorageTest.php
  tests/OpenTelemetry/Unit/Context/ContextTest.php
  tests/OpenTelemetry/Unit/Context/Propagation/MultiTextMapPropagatorTest.php
  tests/OpenTelemetry/Unit/Context/Propagation/NoopTextMapPropagatorTest.php
  tests/OpenTelemetry/Unit/Context/ScopeTest.php
  tests/OpenTelemetry/Unit/Propagation/B3/B3MultiPropagatorTest.php
  tests/OpenTelemetry/Unit/Propagation/B3/B3PropagatorTest.php
  tests/OpenTelemetry/Unit/Propagation/B3/B3SinglePropagatorTest.php
  tests/OpenTelemetry/Unit/Propagation/W3C/W3CPropagatorTest.php
  tests/OpenTelemetry/Unit/SDK/Trace/NonRecordingSpanTest.php
  tests/OpenTelemetry/Unit/SDK/Trace/SpanBuilderTest.php
  tests/Unit/Util/ConventionTest.php
  tests/composer.json
  tests/ext/dd_trace_span_link_with_exception.phpt
  tests/ext/distributed_tracestate_consumption.phpt
  tests/ext/integrations/curl/distributed_tracing_curl_drop_dm.phpt
  tests/ext/test_special_attributes.phpt
  tests/ext/test_special_attributes_bis.phpt
  tests/phpunit.xml
  tooling/bin/generate-final-artifact.sh
Labels: 🏆 enhancement, cat:opentelemetry

#2374 Add release notes for 0.94.0
  Cargo.lock
  appsec/CMakeLists.txt
  ext/version.h
  package.xml
  profiling/Cargo.toml
  src/DDTrace/Tracer.php
Labels: release

#2382 Update CI images to use PHP 8.3.0rc6, pin mongodb for PHP 7.2-7.3
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/buster/build-extensions.sh
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
  dockerfiles/ci/xfail_tests/8.3.list
  dockerfiles/ci/xfail_tests/README.md
  tests/Integrations/MongoDB/MongoDBTest.php
  tests/ext/force_flush_traces.phpt
Labels: dev/testing, ci

#2391 Use http_code instead of connect_time to detect curl errors
  src/Integrations/Integrations/Curl/CurlIntegration.php
Labels: 🐛 bug, tracing

#2393 fix(profiler) do not emit profiles when profiler is disabled
  .github/workflows/prof_correctness.yml
  profiling/src/timeline.rs
Labels: profiling
