Repository DataDog/dd-trace-php, pull requests merged in 2024-06, with the labels that each got.

#2695 feat: Remap OTel to DD status code
  ext/serializer.c
  tests/ext/otel_http_response_status_code_remapping.phpt
  tests/ext/otel_http_response_status_code_remapping_precedence.phpt
Labels: cat:opentelemetry

#2697 perf(profiling): upgrade libdatadog to v10
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/lib.rs
Labels: cat:performance, profiling

#2692 feat(profiling): `thread id` label on every sample
  profiling/src/bindings/mod.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/tests/correctness/allocations.json
  profiling/tests/correctness/exceptions.json
  profiling/tests/correctness/exceptions_zts.json
  profiling/tests/correctness/strange_frames.json
  profiling/tests/correctness/time.json
  profiling/tests/phpt/exceptions_01.phpt
  profiling/tests/phpt/exceptions_fibers_throw.phpt
  profiling/tests/phpt/exceptions_zts_01.phpt
Labels: profiling

#2687 docs(profiling): document `ddog_php_prof_generator_throw`
  profiling/src/exception.rs
Labels: profiling, tracing

#2702 ci(profiling): cleanup correctness tests
  profiling/tests/correctness/allocations.json
  profiling/tests/correctness/exceptions.json
  profiling/tests/correctness/exceptions_zts.json
  profiling/tests/correctness/strange_frames.json
  profiling/tests/correctness/time.json
  profiling/tests/correctness/timeline.json
Labels: ci, profiling, tracing

#2668 feat(profiling): keep string cache data alive longer
  Cargo.lock
  profiling/.cargo/config.toml
  profiling/Cargo.toml
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/string_set.rs
  profiling/src/string_table.rs
  profiling/src/thin_str.rs
Labels: profiling

#2712 style(profiling): fix lints from Rust 1.79 release
  profiling/Cargo.toml
  profiling/src/config.rs
Labels: ⚠ not-peer-reviewed, profiling

#2733 ci(profiling) compatibility with upcoming prof correctness
  profiling/tests/correctness/allocations.json
  profiling/tests/correctness/exceptions.json
  profiling/tests/correctness/exceptions_zts.json
  profiling/tests/correctness/strange_frames.json
  profiling/tests/correctness/time.json
  profiling/tests/correctness/timeline.json
Labels: profiling, tracing

#2736 refactor(profiling): extract func is_internal()
  Cargo.lock
  profiling/Cargo.toml
  profiling/build.rs
  profiling/src/bindings/mod.rs
  profiling/src/profiling/stack_walking.rs
Labels: profiling
