Repository DataDog/dd-trace-php, pull requests merged in 2024-04, with the labels that each got.

#2616 fix(elasticsearch): Hook not being removed
  src/Integrations/Integrations/ElasticSearch/V8/ElasticSearchIntegration.php
Labels: 🐛 bug, cat:integration

#2617 disable Appsec when FrankenPHP SAPI is detected
  appsec/src/extension/ddappsec.c
Labels: tracing, area:asm

#2575 ci(profiling): add exceptions benchmark
  benchmark/runall.sh
  profiling/benches/exceptions.json
  profiling/benches/exceptions.php
Labels: profiling

#2620 feat: Add `--ini` and `--extension-dir` installation option
  datadog-setup.php
  dockerfiles/verify_packages/Makefile
  dockerfiles/verify_packages/installer/test_install_custom_ext_dir_and_ini.sh
  dockerfiles/verify_packages/installer/test_install_custom_extension_directory.sh
  dockerfiles/verify_packages/installer/test_install_custom_ini_file.sh
  dockerfiles/verify_packages/installer/utils.sh
Labels: cat:installation

#2609 docs: UPGRADE-1.0.md
  UPGRADE-1.0.md
Labels: cat:docs, major-release

#2630 fix: Installer tests version lock
  dockerfiles/verify_packages/installer/test_install_custom_ext_dir_and_ini.sh
  dockerfiles/verify_packages/installer/test_install_custom_extension_directory.sh
  dockerfiles/verify_packages/installer/test_install_custom_ini_file.sh
Labels: dev/testing

#2633 style(profiling): fix some easy clippy lints
  profiling/src/allocation.rs
  profiling/src/logging.rs
  profiling/src/profiling/mod.rs
Labels: profiling, tracing

#2635 ci(profiling): run clippy, fix lints
  .circleci/continue_config.yml
  profiling/benches/stack_walking.rs
  profiling/build.rs
  profiling/src/allocation.rs
  profiling/src/bindings/mod.rs
  profiling/src/lib.rs
  profiling/src/pcntl.rs
  profiling/src/php_ffi.c
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stalk_walking.rs
  profiling/src/profiling/uploader.rs
  profiling/src/timeline.rs
Labels: profiling

#2638 refactor(profiling): stack walking cleanup
  profiling/benches/stack_walking.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/profiling/stalk_walking.rs
Labels: profiling

#2640 refactor(profiling): shrink env/service/version and simplify
  profiling/src/config.rs
  profiling/src/lib.rs
Labels: profiling

#2610 feat(profiling) add uptime information to profiles
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Labels: profiling

#2641 Update asm collected headers
  appsec/src/extension/tags.c
  appsec/tests/extension/ancillary_tags.phpt
Labels: tracing, area:asm

#2643 Use app name as service for laravel queue
  src/DDTrace/Integrations/LaravelQueue/LaravelQueueIntegration.php
  tests/snapshots/tests.integrations.laravel.v8_x.queue_test.test_broadcast.json
Labels: 🐛 bug, cat:integration
