Repository DataDog/dd-trace-php, pull requests merged in 2024-07, with the labels that each got.

#2739 refactor(profiling): less unsafe code
  profiling/src/allocation.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
Labels: profiling

#2747 refactor(profiling): fork handling
  profiling/src/pcntl.rs
Labels: profiling

#2751 ci(profiling) fix `PHP_ZTS` test for PHP 8.4
  profiling/tests/phpt/zts_01.phpt
Labels: profiling, tracing

#2743 feat: Add PDO spans to orphans removal
  src/DDTrace/Integrations/PDO/PDOIntegration.php
Labels: cat:integration

#2755 Add more logs around schema extraction
  appsec/src/helper/subscriber/waf.cpp
Labels: tracing, area:asm

#2752 ci: update PHP 8.1, 8.2, and 8.3 to latest patch release
  .github/workflows/prof_asan.yml
  docker-compose.yml
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/bookworm/.env
  dockerfiles/ci/bookworm/docker-compose.yml
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
  dockerfiles/ci/windows/docker-compose.yml
  dockerfiles/ci/xfail_tests/8.2.list
  dockerfiles/ci/xfail_tests/8.3.list
  dockerfiles/ci/xfail_tests/README.md
  ext/hook/uhook.c
Labels: ci, profiling, tracing

#2731 feat: Source Code Integration
  .circleci/continue_config.yml
  Makefile
  appsec/cmake/run_tests.cmake
  appsec/tests/integration/src/main/groovy/com/datadog/appsec/php/docker/AppSecContainer.groovy
  config.m4
  config.w32
  dockerfiles/ci/buster/php-8.3/Dockerfile
  dockerfiles/ci/buster/php-8.3/suppr.txt
  dockerfiles/frameworks/contrib/Dockerfile
  ext/configuration.h
  ext/ddtrace.c
  ext/ddtrace.h
  ext/ddtrace.stub.php
  ext/ddtrace_arginfo.h
  ext/git.c
  ext/git.h
  ext/serializer.c
  ext/span.h
  tests/Integrations/Custom/Autoloaded/GitMetadataTest.php
  tests/ext/active_span.phpt
  tests/ext/includes/git_functions.inc
  tests/ext/integrations/source_code/001-git_metadata_injection_from_valid_files.phpt
  tests/ext/integrations/source_code/002-git_metadata_injection_from_invalid_files.phpt
  tests/ext/integrations/source_code/commit_sha_env_var.phpt
  tests/ext/integrations/source_code/git_metadata_injection_from_env.phpt
  tests/ext/integrations/source_code/git_metadata_injection_from_global_tags.phpt
  tests/ext/integrations/source_code/git_metadata_injection_remove_credentials_from_env.phpt
  tests/ext/integrations/source_code/repository_url_env_var.phpt
  tests/ext/sandbox/span_clone.phpt
  tests/ext/telemetry/config.phpt
Labels: 🎉 new-integration

#2767 fix: Crash in OpenTelemetry Span::getCurrent() when accessing span link
  src/DDTrace/OpenTelemetry/Context.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
Labels: 🐛 bug, cat:opentelemetry

#2775 Update the expected telemetry tags for OTel env-var mapping
  ext/otel_config.c
Labels: cat:opentelemetry

#2778 fix(swoole): Multiple Workers in SWOOLE_BASE mode
  src/DDTrace/Integrations/Swoole/SwooleIntegration.php
  tests/Frameworks/Swoole/index.php
  tests/Sapi/SwooleServer/SwooleServer.php
Labels: 🐛 bug, cat:integration
