Repository DataDog/dd-trace-php, pull requests merged in 2024-01, with the labels that each got.

#2447 Change schema extraction zip compression to PHP_ZLIB_ENCODING_GZIP
  appsec/src/helper/compression.cpp
Labels: tracing, area:asm

#2435 Add basic PHP MicroBenchmarks
  .editorconfig
  .gitlab/benchmarks.yml
  CONTRIBUTING.md
  Makefile
  benchmark/runall.sh
  ext/ddtrace.c
  src/Integrations/Integrations/Logs/LogsIntegration.php
  tests/Benchmarks/API/ComposerTelemetryBench.php
  tests/Benchmarks/API/ContextPropagationBench.php
  tests/Benchmarks/API/HookBench.php
  tests/Benchmarks/API/MessagePackSerializationBench.php
  tests/Benchmarks/API/SamplingRuleMatchingBench.php
  tests/Benchmarks/API/SpanBench.php
  tests/Benchmarks/API/TraceAnnotationsBench.php
  tests/Benchmarks/API/TraceFlushBench.php
  tests/Benchmarks/API/TraceSerializationBench.php
  tests/Benchmarks/Integrations/EmptyFileBench.php
  tests/Benchmarks/Integrations/LaravelBench.php
  tests/Benchmarks/Integrations/LogsInjectionBench.php
  tests/Benchmarks/Integrations/PDOBench.php
  tests/Benchmarks/Integrations/PHPRedisBench.php
  tests/Benchmarks/Integrations/SymfonyBench.php
  tests/Benchmarks/Integrations/WordPressBench.php
  tests/Benchmarks/README.md
  tests/Benchmarks/reports/.gitignore
  tests/Benchmarks/support/ComposerTelemetryBench/.gitignore
  tests/Benchmarks/support/ComposerTelemetryBench/vendor/autoload.php
  tests/Benchmarks/support/ComposerTelemetryBench/vendor/composer/installed.json
  tests/Common/Utils.php
  tests/Common/WebFrameworkTestCase.php
  tests/bootstrap_utils.php
  tests/composer.json
  tests/ext/sandbox/install_hook/exclude_inherited_hook_after_binding.phpt
  tests/phpbench-opcache.json
  tests/phpbench.json
Labels: cat:benchmarks

#2450 Avoid resolving unresolved functions and classes
  tests/ext/traced_attribute.phpt
  tests/ext/traced_attribute_delayed.phpt
  zend_abstract_interface/interceptor/php8/resolver_pre-8_2.c
Labels: 🐛 bug

#2352 fix(profiling): potential allocation profiling crashes with certain opcodes
  profiling/build.rs
  profiling/src/bindings/mod.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.c
  profiling/tests/phpt/allocation_bind_static_01.phpt
  profiling/tests/phpt/allocation_func_get_args.phpt
  profiling/tests/phpt/allocation_generator_01.phpt
Labels: 🐛 bug, cat:app-crash, profiling

#2456 feat: Add `no-sidecar` benchmark configuration
  .gitlab/benchmarks.yml
Labels: cat:benchmarks

#2430 Implement http.route for Yii
  src/Integrations/Integrations/Yii/YiiIntegration.php
  tests/Frameworks/Yii/Version_2_0/config/web.php
  tests/Frameworks/Yii/Version_2_0/controllers/SimpleController.php
  tests/Integrations/Yii/V2_0/CommonScenariosTest.php
  tests/Integrations/Yii/V2_0/ModuleTest.php
  tests/Integrations/Yii/V2_0/ParameterizedRouteTest.php
  tests/Integrations/Yii/V2_0/YiiDetailsTest.php
Labels: tracing

#2458 Increase iterations of flaky benchmarks
  .gitlab/benchmarks.yml
  tests/Benchmarks/API/ContextPropagationBench.php
  tests/Benchmarks/Integrations/PDOBench.php
  tests/Benchmarks/Integrations/PHPRedisBench.php
Labels: cat:benchmarks

#2432 test(profiling): with address sanitizer on bookworm with GH actions
  .github/workflows/prof_asan.yml
  .gitlab/ci-images.yml
  docker-compose.yml
  dockerfiles/ci/bookworm/.env
  dockerfiles/ci/bookworm/0001-Better-support-for-cross-compilation.patch
  dockerfiles/ci/bookworm/0001-Fix-GH-10611-fpm_env_init_main-leaks-environ.patch
  dockerfiles/ci/bookworm/0001-Fix-OpenSSL-3.patch
  dockerfiles/ci/bookworm/0001-Fixed-incorrect-behavior-of-internal-memory-debugger.patch
  dockerfiles/ci/bookworm/Dockerfile
  dockerfiles/ci/bookworm/README.md
  dockerfiles/ci/bookworm/build-extensions.sh
  dockerfiles/ci/bookworm/build-php.sh
  dockerfiles/ci/bookworm/docker-compose.yml
  dockerfiles/ci/bookworm/install-ext-from-source
  dockerfiles/ci/bookworm/php-7.0/Dockerfile
  dockerfiles/ci/bookworm/php-7.1/Dockerfile
  dockerfiles/ci/bookworm/php-7.2/Dockerfile
  dockerfiles/ci/bookworm/php-7.3/Dockerfile
  dockerfiles/ci/bookworm/php-7.4/Dockerfile
  dockerfiles/ci/bookworm/php-8.0/Dockerfile
  dockerfiles/ci/bookworm/php-8.1/Dockerfile
  dockerfiles/ci/bookworm/php-8.2/Dockerfile
  dockerfiles/ci/bookworm/php-8.3/Dockerfile
  dockerfiles/ci/bookworm/php-8.3/suppr.txt
  dockerfiles/ci/bookworm/switch-php
  dockerfiles/ci/bookworm/welcome
  dockerfiles/ci/buster/php-master/Dockerfile
  dockerfiles/ci/buster/php-master/install-php-master
  dockerfiles/ci/buster/php-master/welcome
  profiling/tests/phpt/fork_01.phpt
Labels: dev/testing, ci, profiling

#2402 Implement http.route for Slim
  src/Integrations/Integrations/Slim/SlimIntegration.php
  tests/Frameworks/Slim/Version_3_12/src/routes.php
  tests/Frameworks/Slim/Version_4/app/routes.php
  tests/Integrations/Slim/V3_12/CommonScenariosTest.php
  tests/Integrations/Slim/V4/CommonScenariosTest.php
Labels: tracing

#2463 feat(profiler) make the profiler compile in ZTS PHP
  .github/workflows/prof_correctness.yml
  profiling/src/lib.rs
  profiling/src/php_ffi.c
  profiling/src/php_ffi.h
  profiling/src/sapi.rs
Labels: profiling, tracing

#2461 Increase revolutions of context propagation benchmarks
  tests/Benchmarks/API/ContextPropagationBench.php
Labels: cat:benchmarks

#2460 Handle async requests using Guzzle
  .circleci/continue_config.yml
  src/Integrations/Integrations/Curl/CurlIntegration.php
  tests/Common/SnapshotTestTrait.php
  tests/Integrations/Guzzle/V6/GuzzleIntegrationTest.php
  tests/Integrations/Guzzle/V7/GuzzleIntegrationTest.php
  tests/Integrations/Memcached/MemcachedTest.php
  tests/snapshots/tests.integrations.guzzle.v6.guzzle_integration_test.test_multi_exec.json
  tests/snapshots/tests.integrations.guzzle.v7.guzzle_integration_test.test_multi_exec.json
Labels: 🐛 bug, tracing

#2464 Re-enable code coverage using codecov
  .circleci/continue_config.yml
  Makefile
  codecov.yml
  dockerfiles/ci/buster/Dockerfile
  src/Integrations/Integrations/Curl/CurlIntegration.php
  tests/composer.json
  tests/phpunit.xml
Labels: ci

#2397 fix(profiler) prevent emitting empty profiles
  profiling/src/profiling/mod.rs
Labels: profiling, tracing

#2467 refactor(profiling): extract wall_time.rs file
  ext/engine_hooks.c
  profiling/src/capi.rs
  profiling/src/lib.rs
  profiling/src/wall_time.rs
Labels: profiling

#2446 Move the dummy function of call_attribute_constructor onto the VM stack
  ext/ddtrace.c
Labels: c-extension

#2475 fix(profiler) zai tests
  .circleci/config.yml
  tests/tea/profiling/profiling.cc
  tests/tea/profiling/profiling.h
Labels: profiling

#2468 breaking-change: require system INIs for profiling features
  profiling/src/allocation.rs
  profiling/src/config.rs
  profiling/src/exception.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/sample_type_filter.rs
  profiling/src/profiling/uploader.rs
  profiling/src/timeline.rs
  profiling/src/wall_time.rs
Labels: profiling

#2479 build(profiler): update dependencies and pin ahash
  Cargo.lock
  profiling/Cargo.toml
Labels: profiling

#2482 style(profiling): fix clippy::single-match
  profiling/src/timeline.rs
Labels: profiling

#2480 feat(profiling): enable timeline by default
  datadog-setup.php
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/sample_type_filter.rs
  profiling/src/timeline.rs
  profiling/tests/phpt/phpinfo_06.phpt
  profiling/tests/phpt/phpinfo_07.phpt
Labels: profiling

#2457 ci: Run Macrobenchmarks nightly
  .gitlab/benchmarks.yml
Labels: cat:benchmarks

#2493 ci(profiling) prof correctness supports lz4 now
  .github/workflows/prof_correctness.yml
Labels: profiling

#2495 Ensure logs are committed to disk upon shutdown
  appsec/src/extension/logging.c
  appsec/src/extension/request_abort.c
Labels: tracing, area:asm

#2487 refactor(profiling): use SystemSettings in locals
  .circleci/continue_config.yml
  .github/workflows/prof_asan.yml
  profiling/src/allocation.rs
  profiling/src/bindings/mod.rs
  profiling/src/capi.rs
  profiling/src/config.rs
  profiling/src/exception.rs
  profiling/src/lib.rs
  profiling/src/pcntl.rs
  profiling/src/php_ffi.c
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
  profiling/src/timeline.rs
  profiling/src/wall_time.rs
  profiling/tests/phpt/jit_01.phpt
  profiling/tests/phpt/phpinfo_01.phpt
  profiling/tests/phpt/phpinfo_ini_01.phpt
Labels: profiling

#2492 Remove Symfony Command Hook After Execution
  src/Integrations/Integrations/Symfony/SymfonyIntegration.php
Labels: 🐛 bug, cat:integration
