Repository DataDog/dd-trace-php, pull requests merged in 2024-11, with the labels that each got.

#2921 Update spdlog so it works with recent musls
  appsec/src/helper/client.cpp
  appsec/src/helper/engine_settings.hpp
  appsec/src/helper/json_helper.cpp
  appsec/src/helper/remote_config/config.hpp
  appsec/src/helper/remote_config/product.hpp
  appsec/src/helper/remote_config/settings.hpp
  appsec/src/helper/service_config.hpp
  appsec/src/helper/subscriber/waf.cpp
  appsec/third_party/CMakeLists.txt
Labels: area:asm

#2928 Fix heap corruption after apache reloads (appsec)
  appsec/src/extension/ddtrace.c
Labels: tracing, area:asm

#2909 Fixing DD_TRACE_OBFUSCATION_QUERY_STRING_REGEXP Empty Value Behavior
  src/DDTrace/Util/Normalizer.php
  tests/ext/root_span_url_with_query_params_obfuscation_empty.phpt
  zend_abstract_interface/uri_normalization/uri_normalization.c
Labels: tracing

#2924 ci(profiling) fix profiling ASAN tests
  .github/workflows/prof_asan.yml
  docker-compose.yml
  dockerfiles/ci/bookworm/Dockerfile
  dockerfiles/ci/bookworm/build-extensions.sh
  dockerfiles/ci/bookworm/build-php.sh
Labels: ci, profiling

#2820 feat(profiling): Add fatals and thread start/end events to timeline
  profiling/build.rs
  profiling/src/bindings/mod.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.h
  profiling/src/profiling/mod.rs
  profiling/src/timeline.rs
Labels: profiling

#2938 ci: update PHP 8.4 to rc4
  .gitlab/ci-images.yml
  dockerfiles/ci/alpine_compile_extension/docker-compose.yml
  dockerfiles/ci/bookworm/docker-compose.yml
  dockerfiles/ci/buster/docker-compose.yml
  dockerfiles/ci/centos/7/docker-compose.yml
  dockerfiles/ci/windows/docker-compose.yml
Labels: profiling, tracing, area:asm

#2934 feat(profiling) add thread names
  .github/workflows/prof_asan.yml
  Cargo.lock
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/thread_utils.rs
  profiling/tests/correctness/exceptions.json
  profiling/tests/correctness/exceptions_zts.json
  profiling/tests/phpt/exceptions_01.phpt
  profiling/tests/phpt/exceptions_zts_01.phpt
Labels: profiling

#2945 feat(profiling) add timeline active check for fatals
  profiling/src/timeline.rs
Labels: profiling, tracing

#2943 feat(profiling) add `stream_select()`-type functions to timeline
  profiling/src/lib.rs
  profiling/src/timeline.rs
Labels: profiling, tracing

#2955 feat(appsec): add fingerprints
  appsec/recommended.json
  appsec/src/helper/subscriber/waf.cpp
  appsec/src/helper/subscriber/waf.hpp
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/common.hpp
  appsec/tests/helper/main.cpp
  appsec/tests/helper/waf_test.cpp
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/waf/recommended.json
Labels: area:asm

#2968 cleanup(profiling) apply cargo fmt
  profiling/src/timeline.rs
Labels: profiling, tracing

#2975 Update `README.md` in regards to ZTS support
  profiling/README.md
Labels: profiling
