Repository DataDog/dd-trace-php, pull requests merged in 2024-03, with the labels that each got.

#2542 Raise API errors instead of debug logs when wrong arguments are passed
  ext/ddtrace.c
  ext/hook/uhook_legacy.c
  tests/ext/set_distributed_tracing_context_wrong_param.phpt
  tests/ext/wrong-parameter-errors/DDTrace_hook_function.phpt
  tests/ext/wrong-parameter-errors/DDTrace_hook_method.phpt
  tests/ext/wrong-parameter-errors/DDTrace_trace_function.phpt
  tests/ext/wrong-parameter-errors/DDTrace_trace_id.phpt
  tests/ext/wrong-parameter-errors/DDTrace_trace_method.phpt
  tests/ext/wrong-parameter-errors/dd_trace_send_traces_via_thread.phpt
  tests/ext/wrong-parameter-errors/set_distributed_tracing_context.phpt
Labels: 💔 breaking-change, c-extension, major-release

#2540 Fix flaky tests
  appsec/src/helper/engine.hpp
  appsec/src/helper/rate_limit.cpp
  appsec/src/helper/rate_limit.hpp
  appsec/src/helper/timer.hpp
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/rate_limit_test.cpp
Labels: tracing, area:asm

#2525 Change WordPress Default Behavior
  bridge/_files_integrations.php
  ext/configuration.h
  src/Integrations/Integrations/WordPress/V1/WordPressIntegrationLoader.php
  src/Integrations/Integrations/WordPress/WordPressIntegration.php
  src/Integrations/Integrations/WordPress/WordPressIntegrationLoader.php
  tests/Benchmarks/Integrations/WordPressBench.php
  tests/Integrations/WordPress/V4_8/CommonScenariosLegacyTest.php
  tests/Integrations/WordPress/V4_8/CommonScenariosTest.php
  tests/Integrations/WordPress/V5_5/CommonScenariosLegacyTest.php
  tests/Integrations/WordPress/V5_5/CommonScenariosTest.php
  tests/Integrations/WordPress/V5_9/CommonScenariosLegacyTest.php
  tests/Integrations/WordPress/V5_9/CommonScenariosTest.php
  tests/Integrations/WordPress/V6_1/CommonScenariosCallbacksTest.php
  tests/Integrations/WordPress/V6_1/CommonScenariosLegacyTest.php
  tests/Integrations/WordPress/V6_1/CommonScenariosTest.php
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_legacy_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_legacy_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_legacy_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_legacy_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_legacy_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_legacy_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_legacy_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_legacy_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_legacy_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_legacy_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_legacy_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_legacy_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_legacy_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_legacy_test.test_scenario_get_with_view.json
Labels: 💔 breaking-change, major-release

#2556 test: Don't check for mysqli spans in WordPress tests
  tests/Integrations/WordPress/V4_8/CommonScenariosCallbacksTest.php
  tests/Integrations/WordPress/V4_8/CommonScenariosLegacyTest.php
  tests/Integrations/WordPress/V4_8/CommonScenariosTest.php
  tests/Integrations/WordPress/V5_5/CommonScenariosCallbacksTest.php
  tests/Integrations/WordPress/V5_5/CommonScenariosLegacyTest.php
  tests/Integrations/WordPress/V5_5/CommonScenariosTest.php
  tests/Integrations/WordPress/V5_9/CommonScenariosCallbacksTest.php
  tests/Integrations/WordPress/V5_9/CommonScenariosLegacyTest.php
  tests/Integrations/WordPress/V5_9/CommonScenariosTest.php
  tests/Integrations/WordPress/V6_1/CommonScenariosCallbacksTest.php
  tests/Integrations/WordPress/V6_1/CommonScenariosTest.php
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_legacy_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_legacy_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_legacy_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v4_8.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_legacy_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_legacy_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_legacy_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_legacy_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_5.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_callbacks_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_legacy_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_legacy_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_legacy_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_legacy_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_test.test_scenario_get_to_missing_route.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v5_9.common_scenarios_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_callbacks_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_callbacks_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_callbacks_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_legacy_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_legacy_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_legacy_test.test_scenario_get_with_view.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_return_string.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_with_exception.json
  tests/snapshots/tests.integrations.word_press.v6_1.common_scenarios_test.test_scenario_get_with_view.json
Labels: dev/testing

#2558 [OTel] Only set resource info on root spans
  src/DDTrace/OpenTelemetry/Context.php
  src/DDTrace/OpenTelemetry/SpanBuilder.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
Labels: 💔 breaking-change, cat:opentelemetry

#2550 fix: Orphans not being sampled-out
  .circleci/continue_config.yml
  Makefile
  bridge/_files_integrations.php
  src/Integrations/Integrations/Laravel/LaravelIntegration.php
  src/Integrations/Integrations/PHPRedis/PHPRedisIntegration.php
  src/Integrations/Integrations/Predis/PredisIntegration.php
  src/Integrations/Util/Common.php
  tests/Common/TracerTestTrait.php
  tests/Unit/Util/OrphansTest.php
  tests/phpunit.xml
Labels: 🐛 bug, cat:integration

#2536 feat(profiling) report PHP build (`NTS` vs `ZTS`)
  profiling/src/lib.rs
Labels: profiling, tracing

#2571 style(profiling): clean up some imports
  profiling/src/bindings/mod.rs
Labels: profiling, tracing

#2569 ci(profiling) fix profiler benchmark job
  benchmark/runall.sh
  profiling/benches/timeline.json
Labels: ci, profiling

#2572 fix(profiling): fully disable on fork
  profiling/src/config.rs
Labels: profiling

#2578 ci(profiling) fix asan test
  .github/workflows/prof_asan.yml
Labels: profiling

#2454 Ease local MicroBenchmarks runs with the Native Profiler
  Makefile
  benchmark/run_with_native_profiler.sh
  docker-compose.yml
  tests/Benchmarks/README.md
Labels: cat:benchmarks

#2582 Only run Fiber test in PHP8.1+
  tests/ext/fibers/fiber_switch_tracer_disabled.phpt
Labels: tracing

#2506 feat(profiling) allocation profiling for PHP ZTS
  profiling/README.md
  profiling/src/allocation.rs
  profiling/src/lib.rs
  profiling/src/pcntl.rs
  profiling/tests/phpt/jit_01.phpt
  profiling/tests/phpt/jit_02.phpt
  profiling/tests/phpt/phpinfo_02.phpt
Labels: profiling, tracing

#2579 test(profiling): setting for wall-time enabled/disabled
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
Labels: profiling

#2587 fix: micro-benchmarks job
  Makefile
Labels: ci, cat:benchmarks

#2595 feat: Swoole Integration
  Makefile
  bridge/_files_integrations.php
  ext/integrations/integrations.c
  ext/integrations/integrations.h
  src/Integrations/Integrations/Swoole/SwooleIntegration.php
  tests/Common/WebFrameworkTestCase.php
  tests/Frameworks/Swoole/index.php
  tests/Integrations/Swoole/CommonScenariosTest.php
  tests/Integrations/Swoole/DistributedTracingTest.php
  tests/Integrations/Swoole/IPExtractionTest.php
  tests/Integrations/Swoole/InvalidContentTypeTest.php
  tests/Integrations/Swoole/XWwwFormUrlencodedTest.php
  tests/Sapi/SwooleServer/SwooleServer.php
  tests/Unit/Integrations/IntegrationsLoaderTest.php
  tests/WebServer.php
  tests/composer.json
  tests/phpunit.xml
Labels: 🎉 new-integration

#2561 Slightly Improve OTel Performances
  src/DDTrace/OpenTelemetry/Context.php
  src/DDTrace/OpenTelemetry/Span.php
  src/DDTrace/OpenTelemetry/SpanBuilder.php
  src/DDTrace/OpenTelemetry/SpanContext.php
  tests/OpenTelemetry/Integration/InteroperabilityTest.php
Labels: cat:performance, cat:opentelemetry

#2605 build(profiling): update to libdatadog v7
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/config.rs
  profiling/src/profiling/uploader.rs
Labels: profiling
