Repository DataDog/dd-trace-php, pull requests merged in 2025-05, with the labels that each got.

#3228 fix(profiling) empty internal metadata
  profiling/src/profiling/uploader.rs
Labels: profiling, tracing

#3235 style(prof): fix tons of clippy lints
  Cargo.lock
  profiling/Cargo.toml
  profiling/build.rs
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/bindings/mod.rs
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/wall_time.rs
Labels: profiling

#3227 feat(prof): configurable allocation sampling distance
  .github/workflows/prof_correctness.yml
  profiling/src/allocation/mod.rs
  profiling/src/config.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/tests/phpt/allocation_bind_static_01.phpt
  profiling/tests/phpt/jit_03.phpt
Labels: profiling

#3247 fix(prof): borrow error in request shutdown
  profiling/src/profiling/stack_walking.rs
Labels: cat:app-crash, profiling, mergequeue-status: removed

#3248 style(prof): use local_key_cell_methods
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/config.rs
  profiling/src/exception.rs
  profiling/src/io.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/timeline.rs
Labels: profiling, tracing

#3249 Use the ddtrace handle instead of dlopen(NULL)
  appsec/src/extension/ddtrace.c
Labels: tracing, area:asm

#3231 internal: add opcache tags in crash report
  ext/compatibility.h
  ext/signals.c
  tests/ext/crashtracker_jit_tags.phpt
Labels: 🏆 enhancement, c-extension

#3255 fix(prof): crash in ZEND_INIT_ARRAY
  profiling/src/php_ffi.c
Labels: cat:app-crash, profiling

#3277 feat(profiling) re-enable allocation profiling with JIT for PHP 8.4.7
  profiling/src/allocation/allocation_ge84.rs
  profiling/tests/phpt/jit_03.phpt
Labels: profiling
