Repository DataDog/dd-trace-php, pull requests merged in 2025-07, with the labels that each got.

#3330 fix(profiler): bump Rust version
  profiling/Cargo.toml
  profiling/rust-toolchain.toml
Labels: profiling

#3319 fix(profiling): validate `opline` before access
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/bindings/mod.rs
  profiling/src/php_ffi.c
  profiling/src/profiling/stack_walking.rs
  profiling/tests/phpt/allocation_generator_01.phpt
Labels: profiling, tracing

#3295 fix(prof): fewer borrows, less panics on borrows
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/allocation/mod.rs
  profiling/src/capi.rs
  profiling/src/exception.rs
  profiling/src/io.rs
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/timeline.rs
  profiling/src/wall_time.rs
Labels: cat:app-crash, profiling, tracing, crashtracker-identified

#3338 build(prof): bump patch versions, drop indexmap
  Cargo.lock
  profiling/Cargo.toml
Labels: profiling

#3356 fix(prof): Do not call `zend_jit_status()` on affected versions
  profiling/src/php_ffi.c
Labels: profiling, tracing
