Repository DataDog/dd-trace-php, pull requests merged in 2025-02, with the labels that each got.

#3064 chore(prof): apply cargo fmt and fix feature builds
  Cargo.lock
  profiling/build.rs
  profiling/src/lib.rs
  profiling/src/pcntl.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Labels: profiling

#3069 Fix build of appsec helper with llvm's linker
  appsec/src/helper/helper.version
Labels: tracing, area:asm

#3075 fix(prof): avoid dlclose if threads did not join
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/lib.rs
  profiling/src/php_ffi.c
  profiling/src/profiling/mod.rs
  profiling/src/profiling/thread_utils.rs
Labels: cat:app-crash, profiling

#3058 fix(profiling) switch to `pthread_atfork()` for fork barrier handling
  profiling/src/lib.rs
  profiling/src/pcntl.rs
  profiling/src/pthread.rs
Labels: profiling, tracing

#3081 fix(prof): combine thread timeout errors properly
  profiling/src/profiling/mod.rs
Labels: cat:app-crash, profiling, tracing

#3083 feat(prof) I/O profiling preview
  profiling/Cargo.toml
  profiling/src/config.rs
  profiling/src/io.rs
  profiling/src/lib.rs
  profiling/src/php_ffi.h
  profiling/src/profiling/mod.rs
  profiling/src/profiling/sample_type_filter.rs
  profiling/src/pthread.rs
  profiling/tests/phpt/phpinfo_01.phpt
  profiling/tests/phpt/phpinfo_03.phpt
  profiling/tests/phpt/phpinfo_06.phpt
  profiling/tests/phpt/phpinfo_07.phpt
  profiling/tests/phpt/phpinfo_ini_01.phpt
Labels: profiling

#3079 feat(appsec): add auto_user_instrum remote config capabilities
  appsec/src/extension/commands_helpers.c
  appsec/src/extension/user_tracking.c
  appsec/src/extension/user_tracking.h
  appsec/src/helper/client.cpp
  appsec/src/helper/json_helper.cpp
  appsec/src/helper/json_helper.hpp
  appsec/src/helper/network/proto.hpp
  appsec/src/helper/remote_config/listeners/asm_features_listener.cpp
  appsec/src/helper/remote_config/listeners/asm_features_listener.hpp
  appsec/src/helper/remote_config/listeners/config_aggregators/asm_features_aggregator.cpp
  appsec/src/helper/remote_config/listeners/config_aggregators/asm_features_aggregator.hpp
  appsec/src/helper/service_config.hpp
  appsec/tests/extension/inc/mock_helper.php
  appsec/tests/extension/remote_config_auto_user_instrum_default_anon.phpt
  appsec/tests/extension/remote_config_auto_user_instrum_default_disabled.phpt
  appsec/tests/extension/remote_config_auto_user_instrum_default_ident.phpt
  appsec/tests/extension/rinit_record_span_tags.phpt
  appsec/tests/helper/broker_test.cpp
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/remote_config/listeners/asm_features_listener_test.cpp
  appsec/tests/helper/remote_config/listeners/config_aggregators/asm_features_aggregator_test.cpp
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/RemoteConfigTests.groovy
Labels: tracing, area:asm

#3104 fix(prof): `fork()` call handling before rinit
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
Labels: profiling

#3105 style(prof): `cargo +nightly fmt` and some minor docs fixes
  profiling/src/allocation/allocation_ge84.rs
  profiling/src/allocation/allocation_le83.rs
  profiling/src/io.rs
Labels: profiling

#3096 Add more logging around stack generation
  appsec/src/extension/backtrace.c
  appsec/src/extension/dddefs.c
  appsec/src/extension/ddtrace.c
  appsec/src/extension/request_lifecycle.c
  appsec/src/helper/client.cpp
  appsec/tests/helper/client_test.cpp
  appsec/tests/helper/main.cpp
  appsec/tests/helper/service_manager_test.cpp
  appsec/tests/integration/src/test/groovy/com/datadog/appsec/php/integration/CommonTests.groovy
  appsec/tests/integration/src/test/waf/recommended.json
Labels: tracing, area:asm
