Repository DataDog/dd-trace-php, pull requests merged in 2025-03, with the labels that each got.

#3118 fix(profiling) I/O upscaling
  Cargo.lock
  profiling/Cargo.toml
  profiling/src/io.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/uploader.rs
Labels: profiling

#3153 style(prof): cargo +nightly fmt
  profiling/src/profiling/mod.rs
Labels: profiling, tracing

#3149 fix: select the log level for integration error telemetry
  components-rs/ddtrace.h
  components-rs/telemetry.rs
  ext/autoload_php_files.c
  ext/hook/uhook.c
  ext/integrations/integrations.c
  ext/telemetry.c
  ext/telemetry.h
  tests/ext/telemetry/integration_runtime_error.phpt
Labels: telemetry

#3082 Enable RASP by default
  appsec/src/extension/configuration.h
Labels: tracing, area:asm

#3151 fix(prof)!: avoid some OOM panics and avoid long strings
  profiling/src/lib.rs
  profiling/src/profiling/mod.rs
  profiling/src/profiling/stack_walking.rs
  profiling/src/vec_ext.rs
Labels: profiling, tracing
